.btn{
  display: flex;
  align-items: center;
  background-color: transparent;
  word-break: keep-all;
  i{
    margin-left: rem(5);
    margin-right: rem(5);
  }
  &.btn-default{
    padding-left: rem(10);
    padding-right: rem(10);
    height: rem(40);
    &.btn-primary{
      background-color: $btn-primary;
      color: #ffffff;
    }
    &.btn-gray{
      background-color: $btn-gray-bg;
    }
    &.btn-brown{
      color: #ffffff;
      background-color: $btn-brown-bg;
    }
  }
  &.btn-wide{
    width: 100%;
    justify-content: center;
    height: rem(40);
    &.btn-primary{
      background-color: $btn-primary;
      color: #ffffff;
    }
    &.btn-gray{
      background-color: $btn-gray-bg;
    }
    &.btn-black{
      color: #ffffff;
      background-color: $btn-black-bg;
    }
    &.btn-brown{
      color: #ffffff;
      background-color: $btn-brown-bg;
    }
    &.btn-border{
      border-radius: rem(4);
      &.btn-gray{
        background-color: transparent;
        border: rem(1) solid $border-default;
        border-radius: rem(4);
      }
    }
  }
  &.btn-border{
    padding-left: rem(10);
    padding-right: rem(10);
    height: rem(40);
    &.btn-gray{
      background-color: transparent;
      border: rem(1) solid $border-default;
      
    }
  }
  &.btn-sm{
    display: inline-block;
    height: rem(30);
  }
}
.btn-group{
  display: flex;
  .btn{
    flex: 1 1 auto;
    width: auto;
  }
}