@charset 'utf-8';
html, body{
  width: 100%;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}
@media (max-width: 374px){
  html,body{
    font-size: 14px;
  }
}

a{
  &:hover{
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6{
  .icon{
    vertical-align: text-bottom;
  }
}
table{
  &.table{
    table-layout: auto;
    th{
      word-break: keep-all;
    }
  }
}
button{
  background-color: transparent;
}
textarea{
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}
.display-none{
  font-size: 0;
  display: none;
}
.hidden{
  opacity: 0 !important;;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
}
@for $i from 1 through 10 {
  .ml-#{$i*10}{
    margin-left: rem($i*10);
  }
  .mr-#{$i*10}{
    margin-right: rem($i*10);
  }
  .mt-#{$i*10}{
    margin-top: rem($i*10);
  }
  .mb-#{$i*10}{
    margin-bottom: rem($i*10);
  }
  .pl-#{$i*10}{
    padding-left: rem($i*10);
  }
  .pr-#{$i*10}{
    padding-right: rem($i*10);
  }
  .pt-#{$i*10}{
    padding-top: rem($i*10);
  }
  .pb-#{$i*10}{
    padding-bottom: rem($i*10);
  }
  .w-#{$i*50}{
    width: rem($i*50);
  }
  .h-#{$i*50}{
    height: rem($i*50);
  }
}
@for $m from 5 through 15 {
  .message-#{$m*2}{
    font-size: rem($m*2);
    line-height: 1.4;
  }
}

.align-c{
  text-align: center;
}
.align-l{
  text-align: left;
}
.align-r{
  text-align: right;
}

.fc-gray{
  color: $font-color-gray;
} 
.fc-red{
  color: $red;
}
.fc-green{
  color: $green;
}
.fc-brown{
  color: $brown;
}
.fw-bold{
  font-weight: $bold;
}

.bg-gray{
  background-color: $bg-gray;
}
.bg-pink{
  background-color: $bg-pink;
}

.img-wrap{
  img{
    width: 100%;
  }
}