.comment-write-wrap{
  .textarea-wrap{
    height: rem(80);
  }
}
.comment-list{
  
  
  .comment-header{
    font-size: rem(16);
    font-weight: $bold;
    padding-bottom: rem(15);
    border-bottom: $table-border-topper;
  }
  >ul{
    >li{
      // display: flex;
      padding-top: rem(20);
      padding-bottom: rem(20);
      border-bottom: rem(1) solid $border-default;
      
      .comment-body{
        .writer{
          display: block;
          color: $font-color-light;
          font-weight: $bold;
          font-size: rem(12);
          margin-bottom: rem(5);
        }
        .comment{
          flex: 1 1 auto;
          .rating{
            margin-top: rem(10);
            display: inline-block;
          }
          .comment-title{
            font-size: rem(14);
            line-height: 1.4;
            font-weight: $bold;
          }
          .date{
            font-size: rem(12);
            color: $font-color-light;
            margin-top: rem(10);
          }
          p{
            line-height: 1.8;
            font-size: rem(14);
            color: $font-color-light;
            margin-top: 0;
          }
        }
      }
      .comment-btn{
        width: 100%;
        text-align: right;
        .btn{
          display: inline-block;
        }
      }

      .reply-list{
        margin-top: rem(20);
        padding-left: rem(30);
        background-color: $table-gray-type-bg;
        border-top: rem(1) solid $border-default;
        border-bottom: rem(1) solid $border-default;
        >li{
          padding-top: rem(20);
          padding-bottom: rem(20);
          padding-right: rem(10);
          border-bottom: rem(1) solid $border-default;
          &:last-child{
            border-bottom: 0;
          }
          .reply-body{
            flex: 1 1 auto;
            .fas{
              color: $gray;
              transform: rotate(180deg);
            }
            .writer{
              display: block;
              color: $font-color-light;
              font-weight: $bold;
              font-size: rem(12);
              margin-bottom: rem(5);
            }
            .date{
              font-size: rem(12);
              color: $font-color-light;
              margin-top: rem(10);
            }
            p{
              line-height: 1.8;
              font-size: rem(14);
              color: $font-color-light;
              margin-top: rem(5);
            }
          }
        }
      }
    }
  }
}