.customer-satisfaction{
 .notice-list{
   border-top: rem(2) solid $brown;
   >ul{
     li{
       border-bottom: rem(1) solid $border-default;
       a{
         display: flex;
         padding-top: rem(20);
         padding-bottom: rem(20);
         font-size: rem(14);
         .title{
           flex: 1 0 70%;
           @include ellipsis;
         }
         .date{
           flex: 1 1 auto;
           text-align: right;
           font-size: rem(12);
           color: $font-color-light;
         }
       }
     }
   }
 }
 .notice-detail{
   border-top: rem(2) solid $brown;
   .notice-header{
     color: $font-color-default;
     font-size: rem(16);
     font-weight: $bold;
     border-bottom: rem(1) solid $border-default;
     .title{
      padding-left: rem(10);
      padding-right: rem(10);
      //  @include ellipsis;
     }
     .info{
       @include prefix-suffix;
       padding-top: rem(20);
       padding-bottom: rem(20);
       padding-left: rem(10);
       padding-right: rem(10);
       border-top: rem(1) solid $border-default;
       font-weight: $normal;
       font-size: rem(14);
       color: $font-color-light;
     }
   }
   .notice-body{
    padding-left: rem(10);
    padding-right: rem(10);
    padding-top: rem(40);
    padding-bottom: rem(40);
    line-height: 1.6;
    color: $font-color-light;
   }
   .notice-footer{
    @include prefix-suffix;
    border-top: rem(1) solid $border-light;
    min-height: rem(60);
    .label{
      display: flex;
      flex-grow: 0;
      flex-basis: rem(100);
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: rem(14);
      color: $font-color-light;
      background-color: $thead-gray-bg;
      text-align: center;
      padding-top: rem(20);
      padding-bottom: rem(20);
      font-weight: $bold;
    }
    .filename{
      display: flex;
      align-items: center;
      padding-top: rem(20);
      padding-bottom: rem(20);
      padding-left: rem(10);
      width: 100%;
    }
   }
   border-bottom: rem(1) solid $border-light;
 }
 .faq-list{
  border-top: rem(2) solid $brown;
  .faq-header{
    display: flex;
    border-bottom: rem(1) solid $border-default;
    .th{
      padding-top: rem(20);
      padding-bottom: rem(20);
      padding-left: rem(10);
      padding-right: rem(10);
      font-weight: $bold;
      font-size: rem(14);
      text-align: center;
      &:nth-of-type(1){
        flex: 0 0 rem(100);
      }
      &:nth-of-type(2){
        flex: 1 1 auto;
      }
    }
  }
  >ul{
    li{
      a{
        display: flex;
        padding-top: rem(5);
        padding-bottom: rem(5);
        font-size: rem(14);
        border-bottom: rem(1) solid $border-default;
        line-height: 1.4;
        .catagory{
          flex: 0 0 rem(100);
          text-align: center;
          padding-top: rem(20);
          padding-bottom: rem(20);
          padding-left: rem(10);
          padding-right: rem(10);
          color: $font-color-light;
        }
        .title{
          flex: 1 1 auto;
          padding-top: rem(20);
          padding-bottom: rem(20);
          padding-left: rem(10);
          padding-right: rem(10);

        }
      }
      .content{
        display: none;
        border-bottom: rem(1) solid $border-default;
        padding-top: rem(20);
        padding-bottom: rem(20);
        padding-left: rem(20);
        padding-right: rem(20);
        font-size: rem(14);
        line-height: 1.8;
        background-color: $thead-gray-bg;
      }
    }
  }
 }
 .contact{
   &.gray-box{
     border-top: rem(2) solid $brown;
     padding-top: rem(20);
     padding-bottom: rem(20);
     padding-left: rem(20);
     padding-right: rem(20);
     background-color: $table-gray-type-bg;
     label{
       display: block;
       font-size: rem(14);
       margin-bottom: rem(20);
       font-weight: $bold;
     }
     .textarea-wrap{
       height: rem(150);
     }

   }
 }
 .freetalk-table{
   border-top: rem(2) solid $brown;
   >ul{
     >li{
      border-bottom: rem(1) solid $border-default;
      padding-top: rem(20);
      padding-bottom: rem(20);
      a{
        display: flex;
        padding-left: rem(10);
        padding-right: rem(10);
        .title{
          flex: 1 1 auto;
          font-size: rem(14);
          line-height: 1.4;
        }
        .location{
          text-align: center;
          flex: 0 0 rem(50);
          color: $font-color-light;
          font-size: rem(12);
        }
      }
     }
   }
 }
}