.find-adress{
  .list-table{
    table{
      tbody{
        tr{
          td{
            &:nth-of-type(1){
              text-align: center;
            }
            &:nth-last-of-type(1){
              text-align: center;
            }
          }
        }
      }
    }
  }
}