.find-center{
  h3{
    text-align: center;
  }
  .map-api{
    width: 100%;
    height: rem(240);
    margin-top: rem(20);
    margin-bottom: rem(20);
    background-color: gray;
  }


  .center-info-table{
    margin-top: rem(60);
    >ul{
      >li{
        margin-bottom: rem(60);
      }
    }
    .table-topper{
      @include prefix-suffix;
      padding-bottom: rem(15);
      border-bottom: $table-border-topper;
      .center-name{
        font-weight: $bold;
      }
    }
    .table-body{
      ul{
        li{
          @include prefix-suffix;
          padding-top: rem(15);
          padding-bottom: rem(15);
          color: $font-color-light;
          font-size: rem(14);
          border-bottom: rem(1) solid $border-default;
          .vouchers{
            width: auto;
            margin: 0 auto;
            text-align: left;
            .tag{
              margin-right: rem(3);
              margin-left: rem(3);
              margin-bottom: rem(3);
              margin-top: rem(3);
            }
          }
          &:nth-last-of-type(1){
            border-bottom: 0;
          }
          .link{
            color: $font-link-blue;
            text-decoration: underline;
          }
          .description{
            line-height: 1.8;
            font-size: rem(14);
            color: $font-color-light;
          }
        }
      }
    }
    .table-footer{
    }
    .btn{
      i{
        font-size: rem(16);
        color: $red;
      }
    }
  }
}