.form-group{
  &.table-type{
    
  }
  &.block-type{
    li{
      padding-top: rem(10);
      label{
        display: block;
        margin-bottom: rem(10);
      }
      .btn{
        margin-top: rem(10);
      }
      .notice-text{
        margin-top: rem(10);
        margin-bottom: rem(10);
      }
    }
  }
  &.narrow-type{
  }
  &.gray-bg-type{
  }
  label{
    font-weight: $bold;
  }
  .fc-red{
    color: $red;
  }
  .asterisk{
    &:after{
      content: '*';
      vertical-align: super;
      color: $alert;
    }
  }
}
