[class*="icon-"]{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon-share{
  background-image: url(../images/icon_share.png);
  width: rem(40);
  height: rem(40);
}
.icon-person-add{
  background-image: url(../images/icon-person-add-m.png);
  width: rem(24);
  height: rem(24);
}
.icon-add{
  background-image: url(../images/icon_add.png);
  width: rem(24);
  height: rem(24);
}
.icon-close{
  background-image: url(../images/icon_close.png);
  width: rem(24);
  height: rem(24);
}
.icon-dropdown{
  background-image: url(../images/icon_dropdown.png);
  width: rem(13);
  height: rem(13);
}
.icon-arrow-left{
  background-image: url(../images/icon_arrow_left_filled.png);
  width:rem(24);
  height:rem(24);
}
.icon-arrow-right{
  background-image: url(../images/icon_arrow_right_filled.png);
  width:rem(24);
  height:rem(24);
}
.icon-exclamation{
  background-image: url(../images/icon_exclamation.png);
  width: rem(24);
  height: rem(24);
}
.icon-naver{
  background-image: url(../images/logo);
}

[class*="fa-"]{
  color: $icon-default;
  &.black{
    color: $font-color-default;
  }
  &.gray{
    color: $font-color-gray;
  }
}
// .on{
//   &[class*="fa-"], [class*="fa-"]{
//     color: $red;
//   }
// }