input[type="text"], input[type="password"], input[type="number"], textarea{
  &.text-input{
    padding-left: $input-side-pad;
    padding-right: $input-side-pad;
    color: $font-color-default;
    border:0;
    @include placeholder;
  }
}
select{
  &.select-input{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: $input-side-pad;
    padding-right: calc(#{$input-side-pad} + #{rem(30)});
    color: $font-color-default;
    border:0;
    background-image: url(../images/icon_select_arrow.png);
    background-repeat: no-repeat;
    background-size: rem(8);
    background-position: right rem(10) center;

    &::-ms-expand{
      display: none;
    }
  }
}
input[type="text"], input[type="password"],input[type="number"],select,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, textarea {
  @include appearance-none;
  border: 0; 
}
.textarea-wrap{
  position: relative;
  min-width: rem(120);
  background-color: $input-bg-color;
  border: 1px solid $border-default;
  textarea{
    resize: none;
    height: 100%;
    width: 100%;
    padding-top: rem(10);
    padding-bottom: rem(10);
    font-size: $form-group-fontsize-default;
    color: $font-color-default;
    &::placeholder{
      font-size: $form-group-fontsize-default;
      color: $placeholder-color;
    }
  }
}

.input-wrap, .select-wrap{
  position: relative;
  height: rem(40);
  min-width: rem(120);
  background-color: $input-bg-color;
  border: 1px solid $border-default;
  &.sm{
    width: rem(100);
  }
  &.lg{
    width: rem(300);
  }
  input[type="text"], input[type="password"],input[type="number"], select{
    height: 100%;
    width: 100%;
    font-size: $form-group-fontsize-default;
    color: $font-color-default;
    &::placeholder{
      font-size: $form-group-fontsize-default;
      color: $placeholder-color;
      font-weight: $bold;
    }
  }
  [class*="icon-"]{
    position: absolute;
    right: 0;
  }
  &.required{
    padding-right: rem(30);
    .icon-checked{
      display: inline-block;
      top: 50%;
      right: rem(0);
      transform: translate(-50%, -50%);
      background-image: url(../images/icon_invalid.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: rem(24);
      height: rem(24);
    }
    &.valid{
      .icon-checked{
        background-image: url(../images/icon_valid.png);
      }
    }
  }
}
.select-wrap{
  position: relative;
  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    height: rem(16);
    width: rem(26);
    top: 50%;
    right: $input-side-pad;
    transform: translateY(-50%);
    background-image: url(../images/icon_select_arrow.png);
    background-size: contain;
  }
}
.input-group{
  @include display-flex;
  &.has-unit{
    .unit{
      @include display-flex;
      align-items: center;
      margin-left: 0;
      flex: 0 0 rem(100);
    }
  }
  &.justify-end{
    justify-content: flex-end;
  }
  &.flex-type{
    width: 100%;
    .input-wrap, .select-wrap{
      flex: 1 1 rem(100);
      min-width: unset;
    }
  }
  .input-wrap + .btn{
    margin-left: rem(10);
  }
  .radio-wrap{
    margin-right: rem(20);
  }
  .btn{
    @include display-flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.dash{
  display: inline-block;
  margin: rem(10);
}
.radio-wrap{
  input[type="radio"]{
    font-size: 0;
    width: 0;
    height: 0;
    & + label{
      background-image: url(../images/icon_radio_off.png);
    }
    &:checked + label{
      background-image: url(../images/icon_radio_on.png);
    }
  }
  label{
    display: inline-block;
    padding-left: rem(30);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: rem(13);
    vertical-align: middle;
    white-space: nowrap;
  }

}