.introduce{ 
  .default-text{
    color: $font-color-light;
    font-size: rem(14);
    line-height: 2.3;
  }
  .h3-text{
    text-align: center;
    font-size: rem(14);
    font-weight: $bold;
    color: $font-color-default;
  }
}