.select-your-member-type{
  display: flex;
  > a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 50%;
    height: rem(150);
    color: #ffffff;
    &:nth-of-type(1){
      background-color: $step-bg-passby;
    }
    &:nth-last-of-type(1){
      background-color: lighten($step-bg-passby, 30%);
    }
    .catagory{
      font-size: rem(12);
      margin-top: rem(10);
      margin-bottom: rem(10);
    }
  }
}
.about-join{
  margin-top: rem(40);
  padding-left: rem(20);
  padding-right: rem(20);
  h3{
    padding-top: rem(15);
    padding-bottom: rem(15);
    margin-bottom: rem(40);
    font-size: rem(16);
    border-bottom: rem(1) solid $border-default;
  }
  h4{
    font-size: rem(14);
  }
}
.agree-terms{
  margin-top: rem(40);
  li{
    margin-bottom: rem(10);
  }
  .far{
    font-size: rem(16);
    color: $font-color-default;
  }
  input[type="checkbox"]{
    font-size: 0;
    height: 0;
    width:0;
    &:checked + label{
      opacity: 1;
    }
  }
  label{
    display: block;
    opacity: 0.3;
    width: 100%;
    border: rem(1) solid $btn-border-black;
    text-align: left;
    padding: rem(20) rem(15);
    font-size: rem(14);
    font-weight: $bold;
  }
}
.terms-link{
  margin-top: rem(20);
  ul{
    display: flex;
    justify-content: space-between;
    >li{
      flex: 0 0 calc(50% - #{rem(5)});
      button{
        width: 100%;
        border: rem(1) solid $btn-border-black;
        padding: rem(10) rem(15);
        font-size: rem(12);
        border-radius: rem(4);
        font-weight: $bold;
      }
    }
  }
}
.btn-normal-memeber-join{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: rem(90);
  background-color: #695356;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: rem(16);
  [class*="icon-"]{
    vertical-align: middle;
  }
  .sub-text{
    font-size: rem(12);
    margin-top: rem(5);
  }
}
.sns-certify{
  @include container-slim;
  margin-top: rem(40);
  text-align: center;
  h3{
    font-size: rem(16);
  }
  >ul{
    margin-top: rem(20);
    li{
      text-align: center;
      margin-bottom: rem(10);
      .sns-login-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: rem(90);
        margin-left: auto;
        margin-right: auto;
        font-size: rem(14);
        font-weight: $bold;
        &.naver{
          background-color: $naver-color;
        }
        &.kakao{
          background-color: $kakao-color;
        }
        .title{
          margin-top: rem(5);
        }
      }
    }
  }
}