section{
  .container{
    padding-left: $container-pad-side;
    padding-right: $container-pad-side;
    .header-text{
      line-height: 1.8;
    }
  }
  &.has-gnb{
    padding-bottom: calc(#{$gnb-height} + #{rem(40)});
  }
}