.legend{
  @include display-flex;
  justify-content: flex-end;
  padding-top: rem(30);
  .legend-text{
    position: relative;
    padding-left: rem(30);
    font-size: rem(25);
    &.dot{
      &:after{
        content: "";
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $fc-secondary;
        width: rem(8);
        height: rem(8);
      }
    }
  }
  .fc-secondary{
    color: $fc-secondary;
    font-weight: $bold;
  }
}