.login-wrap{
  .login-by-account{
    .link-partition{
      ul{
        display: flex;
        width: 100%;
        li{
          flex: 0 0 50%;
          input[type="radio"]{
            font-size: 0;
            width: 0;
            height: 0;
            &:checked + label{
              opacity: 1;
              color: #ffffff;
            }
          }
          label{
            display: flex;
            flex-direction: column;
            height: rem(85);
            width: 100%;
            align-items: center;
            justify-content: center;
            background-color: $brown;
            color: lighten($brown, 30%);
            font-weight: $bold;
            font-size: rem(12);
            opacity: 0.3;
            .catagory{
              margin-top: rem(10);
            }
          }
        }
      }
    }
    .login-input-set{
      @include container-slim;
      .login-btn{
        font-weight: $bold;
      }
    }
  }
  .login-by-sns{
    flex: 1 1 auto;
    
    .header{
      text-align: center;
      padding: rem(20);
      vertical-align: middle;
      .icon-share{
        width: rem(24);
        height: rem(24);
        color: $font-color-gray;
        vertical-align: middle;
      }
    }
    >ul{
      padding: rem(40);
      li{
        margin-bottom: rem(40);
        .sns-login-btn{
          @include display-flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: rem(120);
          color: $font-color-default;
          > span{
            margin-top: rem(10);
            font-weight: $bold;
          }
          &.naver{
            background-color: $naver-color;
          }
          &.kakao{
            background-color: $kakao-color;
          }
        }
      }
    }
  }
  .find-id-wrap{
    @include container-slim;
    ul{
      display: flex;
      li{
        position: relative;
        flex: 0 0 50%;
        text-align: center;
        padding-top: rem(30);
        padding-bottom: rem(30);
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          height: rem(20);
          width: rem(1);
          border-right: rem(1) solid $gray;
        }
        &:nth-last-of-type(1){
          &:after{
            border-right: 0;
          }
        }
      }
    }
  }
  .find-result{
    text-align: center;
    padding-left: rem(20);
    padding-right: rem(20);
    border: rem(1) solid $border-default;
    color: $red;
    font-weight: $bold;
  }
  .sns-login{
    @include container-slim;
    margin-top: rem(40);
    text-align: center;
    h3{
      font-size: rem(16);
      i{
        vertical-align: middle;
        margin-right: rem(10);
      }
    }
    >ul{
      margin-top: rem(20);
      li{
        text-align: center;
        margin-bottom: rem(10);
        .sns-login-btn{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: rem(90);
          margin-left: auto;
          margin-right: auto;
          font-size: rem(14);
          font-weight: $bold;
          &.naver{
            background-color: $naver-color;
          }
          &.kakao{
            background-color: $kakao-color;
          }
          .title{
            margin-top: rem(5);
          }
        }
      }
    }
  }
}