
.main{
  h3{
    margin-top: rem(60);
    text-align: center;
  }
  .main-banner{
    .img-wrap{
      display: flex;
      align-items: center;
      height: rem(210);
      .link-to-service{
        display: block;
        width: rem(300);
        margin: 0 auto;
      }
    }
  }
  .major-voucher-link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: rem(30);
    li{
      flex: 0 0 calc(100% / 3 - #{rem(16)});
      margin-bottom: rem(20);
      a{
        display: block;
        height: rem(160);
        padding: rem(40);
        box-shadow: 0 rem(4) rem(8) 0 rgba(0, 0, 0, 0.22);
        background-repeat: no-repeat;
        background-position: right rem(20) bottom rem(20);
        transition: all .2s;
        &:hover{
          transform: translateY(#{rem(-10)});
          box-shadow: rem(5) rem(20) rem(15) 0 rgba(0, 0, 0, 0.22);
          text-decoration: underline;
          color: $red;
          .voucher-name{
            color: $red;
          }
        }
        .voucher-name{
          position: relative;
          line-height: 1.7;
          color: $font-color-light;
          font-weight: $bold;
          transition: all .2s;
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            bottom: rem(-20);
            left: 0;
            width: rem(19);
            height: rem(7);
            background-image: url(../images/arrow_link.png);
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      &:nth-of-type(1){
        a{
          background-image: url(../images/main_voucher_img_01.png);
        }
      }
      &:nth-of-type(2){
        a{
          background-image: url(../images/main_voucher_img_02.png);
        }
      }
      &:nth-of-type(3){
        a{
          background-image: url(../images/main_voucher_img_03.png);
        }
      }
    }
  }
  .video-info{
    padding-bottom: rem(30);
    .description{
      // flex: 0 0 40%;
      padding-top: rem(30);
      .title{
        color: $alert;
        font-size: rem(18);
        font-weight: $bold;
        line-height: 1.7;
      }
      .sub-text{
        color: $font-color-light;
        font-size: rem(14);
        line-height: 1.7;
      }
    }
    .video-wrap{
      height: rem(185);
    }
  }
  
  .search-box{
    margin-top: rem(40);
    .filter{
      display: flex;
      // height: rem(110);
      margin-top: rem(40);
      margin-bottom: rem(40);
      button{
        background-color: #f4f4f4;
        color: darken(#f4f4f4, 40%);
        &.whole{
          flex: 0 0 rem(150);
          height: 100%;
          margin-right: rem(10);
        }
        &.on{
          background-color: $red;
          color: #ffffff;
        }
      }
      >ul{
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        >li{
          flex: 0 0 calc(100% / 2 - #{rem(5)});
          height: rem(50);
          margin-bottom: rem(10);
          button{
            height: 100%;
            width: 100%;
            
          }
        }
      }
    }
  }

  .intro-link{
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: rem(40);
    >ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        flex: 0 0 calc(50% - #{rem(5)});
        &:nth-last-of-type(n+3){
          margin-bottom: rem(10);
        }
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          // width: rem(200)
          height: rem(160);
          border: rem(2) solid $font-color-light;
          font-size: rem(16);
          font-weight: $bold;
          // transition: all .2s;
          &:hover{
            transform: translateY(#{rem(-10)});
            box-shadow: rem(5) rem(5) rem(5) 0 rgba(0, 0, 0, 0.22);
            text-decoration: underline;
            background-color: $red;
            color: #ffffff;
            border: 0;
          }
        }
      }
    }
  }
  &.bg-gray{
    background-color: lighten($bg-gray,50%);
  }
  .customer-center{
    text-align: center;
    padding-top: rem(5);
    padding-bottom: rem(5);
    .info{
      >li{
        display: inline-block;
        border-right: rem(1) solid $font-color-default; 
        padding: 0 rem(20);
        &:nth-of-type(1){
          text-align: right;
        }
        &:nth-last-of-type(1){
          text-align: left;
          border-right: 0;
        }
      }
    }
  }
}
