@mixin container-default{
  padding-left: rem(40);
  padding-right: rem(40);
  margin: auto;
}
@mixin container-slim{
  margin-left: auto;
  margin-right: auto;
  max-width: rem(280);
}
@mixin display-flex{
  display: flex;
  display: -ms-flexbox;
}

@mixin appearance-none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}
@mixin placeholder{
  &::-webkit-input-placeholder{
    color: $placeholder-color;
  }
  &:-ms-input-placeholder{
    color: $placeholder-color;
  }
  &::placeholder{
    color: $placeholder-color;
  }
}

@mixin prefix-suffix{
  @include display-flex;
  .prefix, .center, .suffix{
    @include display-flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .center{
    justify-content: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin ellipsis{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}