section{
  
  &.modal{
    width: 100%;
    .container{
      width: auto;
      padding-left: 0;
      padding-right: 0;
      padding-top: rem(20);
      padding-bottom: rem(20);
      h3{
        font-size: rem(16);
        margin-top: 0;
      }
      .notice{
        font-size: rem(16);
        color: $font-color-default;
      }
      .sub-text{
        font-size: rem(16);
        color: $font-color-gray;
        line-height: 1.6;
      }
      .form-group{
        &.table-type{
          >ul{
            >li{
              .label{
                flex: 0 0 rem(100);
              }
            }
          }
        }
      }
    }
    a{
      &.close-modal{
        top: rem(-15);
        right: rem(-15);
      }
    }
  }
}