.my-child-popup{
  
  aside{
    position: relative;
    .search-teacher{
      position: absolute;
      padding-left: rem(40);
      padding-right: rem(40);
      padding-bottom: rem(20);
      padding-top: rem(20);
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: #fafafa;
      box-shadow: rem(3) rem(-3) rem(10) rem(3) rgba(0,0,0,.1);
      .input-wrap{
        position: relative;
        display: flex;
        align-items: center;
        padding-left: rem(10);
        padding-right: rem(10);
      }
    }
  }
}
.schedule-list, .schedule-comment-list{
  
  .item{
    display: flex;
    position: relative;
    min-height: rem(150);
    border: rem(1) solid $border-default;
    margin-bottom: rem(20);
    .date-wrap{
      flex: 0 0 rem(150);
      height: rem(150);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: $bold;
      .date{
        font-size: rem(18);
      }
      .day{
        font-size: rem(12);
        color: $font-color-default;
        margin-top: rem(10);
      }
      .name{
        font-size: rem(14);
      }
    }
    .schedule-text{
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: rem(20);
      border-left: rem(1) solid $border-default;
      .text-area{
        flex: 1 1 auto;
      }
      .modify-date{
        flex: 0 0 rem(30);
        border-top: rem(1) solid $border-default;
        font-size: rem(14);
        color: $font-color-gray;
        @include prefix-suffix;
        align-items: center;
      }
    }
    .teacher-comment{
      position: absolute;
      left: rem(10);
      top: rem(10);
    }
  }
}
.teacher-list{
  padding-bottom: rem(137);
  
  >ul{
    li{
      display: flex;
      align-items: center;
      padding: rem(10) rem(15);
      margin-bottom: rem(10);
      background-color: #ffffff;
      border: rem(1) solid $border-default;
      .label{
        flex: 0 0 rem(120);
        font-size: rem(13);
        font-weight: $bold;
      }
      .input-group{
        flex: 1 1 auto;
      }
    }
  }
}
.enrollment-schedule{
  display: flex;
  .label-wrap{
    flex: 0 0 rem(150);
    margin-right: rem(20);
    .label{
      display: block;
      padding-top: rem(20);
      padding-bottom: rem(20);
      text-align: center;
      font-weight: $bold;
      background-color: $red;
      color: #ffffff;
    }
  }
  > .input-wrap{
    flex: 1 1 auto;
    min-height: rem(300);
    textarea{
      width: 100%;
      height: 100%;
      padding: rem(20);
      resize: none;
    }
  }
}
.report-list{
  border-top: $table-border-topper;
  .item{
    @include prefix-suffix;
    align-items: center;
    padding-top: rem(15);
    padding-bottom: rem(15);
    padding-left: rem(15);
    padding-right: rem(15);
    border-bottom: rem(1) solid $border-default;
  }
}