.my-page{
  .my-contents{
    &.border-list{
      .table-body{
        ul{
          li{
            display: block;
            padding-top: 0;
            padding-bottom: 0;
            border-bottom: 0;
            .toggle{
              display: block;
              padding-top: rem(20);
              padding-bottom: rem(20);
              border-bottom: rem(1) solid $border-light;
              &.on{
                >div{
                  .title{
                    color: $red;
                    text-decoration: underline;
                  }
                }
              }
              > div{
                display: flex;
                &:first-child{
                  margin-bottom: rem(10);
                }
                span{
                  &.catagory{
                    flex: 0 0 rem(80);
                    font-size: rem(12);
                    color: $font-color-gray;
                  }
                  &.title{
                    flex: 1 1 auto;
                    line-height: 1.4;
                  }
                  &.date{
                    flex: 0 0 rem(80);
                    display: flex;
                    font-size: rem(12);
                    color: $font-color-gray;
                  }
                  &.state{
                    flex: 0 0 rem(80);
                    display: flex;
                    font-size: rem(12);
                    color: $font-color-gray;
                    &.ready{

                    }
                    &.complete{
                      color: $red;
                    }
                  }
                }
              }
            }
            .content{
              display: none;
              padding-top: rem(10);
              padding-bottom: rem(10);
              padding-left: rem(10);
              padding-right: rem(10);
              border-bottom: rem(1) solid $border-light;
              background-color: $table-gray-type-bg;
              line-height: 1.4;
              .date{
                display: block;
                margin-top: rem(10);
                font-size: rem(12);
              }
            }
          }
        }
      }
    }
  }
  .my-center-list{
    >ul{
      >li{
        margin-bottom: rem(40);
      }
    }
    .table-topper{
      @include prefix-suffix;
      padding-bottom: rem(15);
      border-bottom: $table-border-topper;
      .center-name{
        font-weight: $bold;
      }
    }
    .table-body{
      >ul{
        >li{
          @include prefix-suffix;
          padding-top: rem(15);
          padding-bottom: rem(15);
          color: $font-color-light;
          font-size: rem(14);
          border-bottom: rem(1) solid $border-default;
          .vouchers{
            width: auto;
            margin: 0 auto;
            text-align: left;
            .tag{
              margin-right: rem(3);
              margin-left: rem(3);
              margin-bottom: rem(3);
              margin-top: rem(3);
            }
          }
          &:nth-last-of-type(1){
            border-bottom: 0;
          }
          .link{
            color: $font-link-blue;
            text-decoration: underline;
          }
        }
      }
    }
    .btn{
      i{
        font-size: rem(16);
        color: $red;
      }
    }
  }
}
.my-child-info{
  h3{
    margin-top: 0;
  }
  .legend{
    font-size: rem(13);
  }
  .schedule-list, .schedule-comment-list{
    .item{
      display: flex;
      position: relative;
      min-height: rem(100);
      border: rem(1) solid $border-default;
      margin-bottom: rem(10);
      .date-wrap{
        flex: 0 0 rem(100);
        height: rem(100);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: $bold;
        .date, .name{
          font-size: rem(14);
        }
        .day{
          font-size: rem(12);
          color: $font-color-default;
          margin-top: rem(5);
        }
      }
      .schedule-text{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: rem(10);
        border-left: rem(1) solid $border-default;
        font-size: rem(12);
        .text-area{
          flex: 1 1 auto;
        }
        .modify-date{
          flex: 0 0 rem(30);
          border-top: rem(1) solid $border-default;
          font-size: rem(14);
          color: $font-color-gray;
          @include prefix-suffix;
          align-items: center;
        }
      }
      .teacher-comment{
        position: absolute;
        left: rem(10);
        top: rem(10);
      }
    }
    &.block-type{
      .header-date-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(50);
        border: rem(1) solid $border-default;
        margin-bottom: rem(20);
        font-size: rem(16);
        font-weight: $bold;
        .day{
          margin-left: rem(10);
        }
      }
      .item{
        flex-direction: column;
        .date-wrap{
          flex: 1 1 auto;
          height: auto;
          padding-top: rem(20);
          padding-bottom: rem(20);
          padding-left: rem(50);
          flex-direction: row;
          justify-content: flex-start;
          border-bottom: rem(1) solid $border-default;
          .date, .name{
            font-size: rem(16);
          }
          .day{
            margin-top: 0;
            margin-left: rem(10);
            font-size: rem(16);
          }
        }
        .schedule-text{
          flex: 1 1 rem(100);
          
          border-left: 0;
          .modify-date{
            font-size: rem(12);
          }
        }
        .teacher-comment{
          position: absolute;
          left: rem(20);
          top: rem(20);
        }
      }
    }
  }
  .daterangepicker-container{
    .daterangepicker{
      border: rem(2) solid $border-default;
      border-radius: 0;
      position: relative;
      top: auto !important;
      right: auto !important;
      left: auto !important;
      width: auto;
      &:before, &:after{
        content: none;
      }
      .drp-calendar{
        max-width: 100%;
      }
      td.active, td.active:hover{
        background-color: $red;
      }
    }
    /*  Larger Screen Styling */
    @media (min-width: 564px) {
      .daterangepicker {
        &.single .ranges, &.single .drp-calendar {
          float: none;
        }
  
        .ranges, .drp-calendar {
          float: none;
        }
      }




    }

    @media (min-width: 730px) {
      .daterangepicker .ranges {
        float: none;
      }

      .daterangepicker.rtl .ranges {
        float: none;
      }
    }
  }
  .teacher-list{
    padding-bottom: rem(137);
    
    >ul{
      li{
        display: flex;
        align-items: center;
        padding: rem(10) rem(15);
        margin-bottom: rem(10);
        background-color: #ffffff;
        border: rem(1) solid $border-default;
        span{
          flex: 1 1 auto;
        }
        .label{
          flex: 0 0 rem(120);
          font-size: rem(13);
          font-weight: $bold;
        }
        .input-group{
          flex: 1 1 auto;
        }
      }
    }
  }
}