.top-header{
  @include prefix-suffix;
  .prefix, .suffix{
    flex-basis: rem(80);
    flex-grow: 0;
  }
  background-color: $red;
  height: $top-header-height;
  font-weight: $bold;
  color: #ffffff;
  &.bg-gray{
    background-color: $bg-gray;
  }
  &.bg-white{
    background-color: #ffffff;
    color: $font-color-default;
    .fas{
      color: $font-color-default;
    }
  }
  .fas{
    color: #ffffff;
  }
  .prefix{
    padding-left: $container-pad-side;
  }
  .suffix{
    padding-right: $container-pad-side;
  }
}
.gnb{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: rem(1) solid $border-default;
  height: $gnb-height;
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb 60%, #e1e1e1);
  z-index: 1;
  >ul{
    display: flex;
    height: 100%;
    align-items: center;
    li{
      flex: 1 1 auto;
      text-align: center;
      button{
        &.on{
          color: $red;
        }
      }
    }
  }
}
.all-menu{
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #db7b65;
  z-index: 2;
  display: none;
  flex-direction: column;
  .close-btn{
    position: absolute;
    right: rem(20);
    top: rem(20);
  }
  .menu-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    width: 100%;
    // transform: translateY(-50%);
    li{
      display: flex;
      flex: 1 1 auto;
      height: vh(35);
      align-items: center;
      justify-content: center;
      a{
        opacity: 0.8;
        font-size: vh(9);
        font-weight: $bold;
        color: #ffffff;
        &.on{
          opacity: 1;
        }
      }
    }
  }
  .menu-footer{
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    height: vh(35);
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    a{
      font-size: vh(9);
    }
  }
}