.notice-info{
  font-size: rem(14);
  color: $font-color-light;
  line-height: 2;
  .h2-text{
    color: $font-color-default;
    font-size: rem(14);
    font-weight: $bold;
    [class*="icon-"]{
      vertical-align: middle;
    }
  }
}