.paging{
  margin-top: rem(30);
  margin-bottom: rem(30);
  >ul{
    @include display-flex;
    justify-content: space-between;
    >li{
      button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: rem(1) solid $border-default;
        color: $font-color-gray;
        font-size: rem(12);
        min-width: rem(25);
        height: rem(25);
        padding-left: rem(10); 
        padding-right: rem(10); 
        margin: 0 rem(5);
        text-align: center;
        word-break: keep-all;
        &:hover, &.on{
          color: $red;
          border-color: $red;
        }
        // &.first, &.prev, &.next, &.last{
        //   padding: rem(5) rem(10);
        // }
      }
      &:nth-of-type(1), &:nth-last-of-type(1){
        a{
          padding: rem(5) rem(10);
        }
      }
    }
  }
}