.popup{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  background-color: #ffffff;
  .top-header{
    h3{
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      padding-left: $container-pad-side;
      font-size: rem(18);
    }
  }
}