.rating{
  @include display-flex;
  justify-content: center;
  >span{
    display: inline-block;
    text-align: center;
    flex: 1 1 auto;
    &.on{
      i{
        color: $red;
      }
    }
  }
}