body, html{
  margin: 0;
  padding: 0;
}
body{
  *{
    box-sizing: border-box;
  }
}
ul,ol,li{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  color: #000000;
  text-decoration: none;
}
input, select, button, textarea{
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}
label{
  cursor: pointer;
}
table{
  border-collapse: collapse;
}
em{
  font-style: normal;
}