.scroll-x-tab{
  position: relative;
  &:after{
    content: '';
    display: inline-block;
    height: 100%;
    width: rem(50);
    position: absolute;
    right: rem(-10);
    top: 0;
    background: linear-gradient(0.25turn, rgba(255,255,255,0) 0%, #ffffff 60%);
  }
  >ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    padding-top: rem(10);
    padding-bottom: rem(10);
    li{
      display: inline-block;
      margin-right: rem(10);
      .btn{
        &.on{
          color: $red;
          border: rem(1) solid $red;
        }
      }
    }
  }
  &::-webkit-scrollbar{
    height: rem(5);
  }
}