.border-list{
  border-top: $table-border-topper;
  .table-body{
    ul{
      li{
        @include prefix-suffix;
        padding-top: rem(15);
        padding-bottom: rem(15);
        color: $font-color-light;
        font-size: rem(14);
        border-bottom: rem(1) solid $border-default;
      }
    }
  }
}