.tab-wrap{
  .tab{
    >ul{
      @include display-flex;
      >li{
        flex: 1 1 50%;
        >a{
          @include display-flex;
          justify-content: center;
          align-items: center;
          height: $tab-height;
          background-color: $tab-default-bg;
          border: rem(1) solid $tab-off-border-color;
          color: $tab-default-color;
          font-size: $tab-default-font-size;
          &.on{
            background-color: #ffffff;
            border: rem(1) solid $font-color-default;
            color: $font-color-default;
            font-weight: $bold;
          }
        }
      }
    }
    &.sm{
      padding: 0 $container-pad-side;
      >ul{
        >li{
          >a{
            height: $tab-height-sm;
            font-size: $tab-sm-font-size;
          }
        }
      }
    }
  }
  &.find-id{
    padding-top: rem(100);
    margin-left: rem(100);
    margin-right: rem(100);
    .tab{
      >ul{
        >li{
          >a{
            font-size: rem(16);
            color: $font-color-gray;
            background-color: $tab-default-bg;
            &.on{
              color: $font-color-default;
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
  &.scroll-x{
    position: relative;
    // &:after{
    //   content: '';
    //   display: inline-block;
    //   height: 100%;
    //   width: rem(50);
    //   position: absolute;
    //   right: rem(-10);
    //   top: 0;
    //   background: linear-gradient(0.25turn, rgba(255,255,255,0) 0%, #ffffff 60%);
    // }
    .tab{
      overflow-x: auto;
      >ul{
        >li{
          flex: 1 0 30%;
        }
      }
    }
  }
}
.tab-border-type-wrap{
  padding-left: rem(20);
  padding-right: rem(20);
  .tab{
    >ul{
      @include display-flex;
      >li{
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        >a{
          color: $tab-default-color;
          font-size: $tab-default-font-size;
          &.on{
            border-bottom: rem(3) solid $font-color-default;
            color: $font-color-default;
            font-weight: $bold;
          }
        }
      }
    }
    &.sm{
      padding: 0 rem(20);
      >ul{
        >li{
          >a{
            height: $tab-height-sm;
            font-size: $tab-sm-font-size;
          }
        }
      }
    }
  }
}