.tag{
  display: inline-block;
  color: $font-color-default;
  border: rem(1) solid $font-color-default;
  border-radius: rem(20);
  font-size: rem(12);
  padding-top: rem(4);
  padding-bottom: rem(4);
  padding-left: rem(8);
  padding-right: rem(8);
  &.tag-green{
    border-color: #50ae23;
    color: #50ae23
  }
  &.tag-yellow{
    border-color: #d67900;
    color: #d67900
  }
}