.notice-text{
  text-align: center;
  font-size: rem(16);
  &.result{
    font-weight: bold;
  }
  &.default{
    color: $font-color-default;
  }
  &.alert{
    color: $alert;
  }
  &.fc-gray{
    color: $font-color-light;
  }
  .sub-text{
    font-size: rem(14);
    color: $font-color-gray;
  }
}
.header-text{
  font-size: rem(28);
  color: $font-color-default;
  font-weight: $bold;
}
.align-center{
  text-align: center;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}