@charset 'utf-8';
//layout
$container-pad-side: rem(15);

//nav
$top-header-height: rem(55);


//gnb
$gnb-height: rem(60);

// footer
$footer-bg: #111111;
$footer-font-color: #888888;

// font
$light: 300;
$normal: 400;
$bold: 600;

$border-bold : rem(4) solid #111111;
$border-bold-off : 1px solid lighten(#111111, 30%);

$border-default : #dddddd;
$border-light : #e8e8e8;

$checkbox-default-margin: rem(10);


$red: #ea5a5c;
$alert: #d60000;
$sky-blue: #8ec3f0;
$gray: #999999;
$green: #1c9e40;
$brown: #695356;


$primary: $red;

$font-color-default: #333333;
$font-color-light: #666666;
$font-color-gray: #888888;
$icon-default: lighten(#888888, 40%);
$font-link-blue: #036fdc;



$emphasis-color: $red;

// step
$step-bg-default: #f5f5f5;
$step-font-color-default: rgba(0,0,0,.3);
$step-bg-now: #ea5a5c;
$step-font-color-now: #ffffff;
$step-bg-passby: #ba191b;
$step-font-color-passby: rgba(255,255,255,.6);

//btn color
$btn-gray-bg: #dddddd;
$btn-black-bg: #000000;
$btn-brown-bg: $brown;
$btn-primary: $primary;

$btn-default-pad-top-bottom: rem(18);
$btn-default-pad-top-side: rem(50);
$btn-mid-pad-top-side: rem(20);

$btn-border-black: #111111;
//formgroup
$inputlabel-fontsize: rem(14);
$input-side-pad: rem(10);
$input-bg-color: #ffffff;
$form-group-fontsize-default: rem(14);
$placeholder-color: #c8c8c8;
$table-list-margin: rem(18);

$form-group-narrow-pad: rem(30);
$block-label-margin-top: rem(30);
$block-label-margin-bottom: rem(10);
//table
$thead-dark-bg: #888888;
$thead-gray-bg: #e5e5e5;
$thead-primary-bg: $red;
$table-gray-type-bg: #fafafa;
$table-gray-type-border-color: #ffffff;
$table-list-pad-side: rem(40);
$table-border-topper: rem(2) solid #111111;
// tab
$tab-height: rem(50);
$tab-height-sm: rem(40);
$tab-default-bg: #f8f8f8;
$tab-default-color: #aaaaaa;
$tab-default-font-size: rem(16);
$tab-sm-font-size: rem(14);
$tab-off-border-color: #eeeeee;

$naver-color: #0acf5d;
$kakao-color: #ffcd00;

$bg-gray: #666666;
$bg-pink: lighten($red, 30%);;