body, html {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

input, select, button, textarea {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}

a:hover {
  text-decoration: none;
}

h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon {
  vertical-align: text-bottom;
}

table.table {
  table-layout: auto;
}

table.table th {
  word-break: keep-all;
}

textarea {
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}

.display-none {
  font-size: 0;
  display: none;
}

.hidden {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.w-0 {
  width: 0rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.w-50 {
  width: 3.125rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.w-100 {
  width: 6.25rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.pt-30 {
  padding-top: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.w-150 {
  width: 9.375rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.w-200 {
  width: 12.5rem;
}

.ml-50 {
  margin-left: 3.125rem;
}

.mr-50 {
  margin-right: 3.125rem;
}

.mt-50 {
  margin-top: 3.125rem;
}

.mb-50 {
  margin-bottom: 3.125rem;
}

.pl-50 {
  padding-left: 3.125rem;
}

.pr-50 {
  padding-right: 3.125rem;
}

.pt-50 {
  padding-top: 3.125rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}

.w-250 {
  width: 15.625rem;
}

.ml-60 {
  margin-left: 3.75rem;
}

.mr-60 {
  margin-right: 3.75rem;
}

.mt-60 {
  margin-top: 3.75rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.pl-60 {
  padding-left: 3.75rem;
}

.pr-60 {
  padding-right: 3.75rem;
}

.pt-60 {
  padding-top: 3.75rem;
}

.pb-60 {
  padding-bottom: 3.75rem;
}

.w-300 {
  width: 18.75rem;
}

.ml-70 {
  margin-left: 4.375rem;
}

.mr-70 {
  margin-right: 4.375rem;
}

.mt-70 {
  margin-top: 4.375rem;
}

.mb-70 {
  margin-bottom: 4.375rem;
}

.pl-70 {
  padding-left: 4.375rem;
}

.pr-70 {
  padding-right: 4.375rem;
}

.pt-70 {
  padding-top: 4.375rem;
}

.pb-70 {
  padding-bottom: 4.375rem;
}

.w-350 {
  width: 21.875rem;
}

.ml-80 {
  margin-left: 5rem;
}

.mr-80 {
  margin-right: 5rem;
}

.mt-80 {
  margin-top: 5rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.pl-80 {
  padding-left: 5rem;
}

.pr-80 {
  padding-right: 5rem;
}

.pt-80 {
  padding-top: 5rem;
}

.pb-80 {
  padding-bottom: 5rem;
}

.w-400 {
  width: 25rem;
}

.ml-90 {
  margin-left: 5.625rem;
}

.mr-90 {
  margin-right: 5.625rem;
}

.mt-90 {
  margin-top: 5.625rem;
}

.mb-90 {
  margin-bottom: 5.625rem;
}

.pl-90 {
  padding-left: 5.625rem;
}

.pr-90 {
  padding-right: 5.625rem;
}

.pt-90 {
  padding-top: 5.625rem;
}

.pb-90 {
  padding-bottom: 5.625rem;
}

.w-450 {
  width: 28.125rem;
}

.ml-100 {
  margin-left: 6.25rem;
}

.mr-100 {
  margin-right: 6.25rem;
}

.mt-100 {
  margin-top: 6.25rem;
}

.mb-100 {
  margin-bottom: 6.25rem;
}

.pl-100 {
  padding-left: 6.25rem;
}

.pr-100 {
  padding-right: 6.25rem;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.w-500 {
  width: 31.25rem;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.message-10 {
  font-size: 0.625rem;
  line-height: 1.6;
}

.message-12 {
  font-size: 0.75rem;
  line-height: 1.6;
}

.message-14 {
  font-size: 0.875rem;
  line-height: 1.6;
}

.message-16 {
  font-size: 1rem;
  line-height: 1.6;
}

.message-18 {
  font-size: 1.125rem;
  line-height: 1.6;
}

.message-20 {
  font-size: 1.25rem;
  line-height: 1.6;
}

.message-22 {
  font-size: 1.375rem;
  line-height: 1.6;
}

.message-24 {
  font-size: 1.5rem;
  line-height: 1.6;
}

.message-26 {
  font-size: 1.625rem;
  line-height: 1.6;
}

.message-28 {
  font-size: 1.75rem;
  line-height: 1.6;
}

.message-30 {
  font-size: 1.875rem;
  line-height: 1.6;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.fc-gray {
  color: #888888;
}

.fc-red {
  color: #db7b65;
}

.fc-green {
  color: #1c9e40;
}

.fw-bold {
  font-weight: 600;
}

.bg-pink {
  background-color: #fff6f2;
}

.bg-gray {
  background-color: #efefef;
}

.img-wrap img {
  width: 100%;
}

section .container {
  width: 80rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: auto;
}

section .container h2 {
  margin-top: 6.25rem;
}

section .container h2 .sub-text {
  font-size: 0.875rem;
}

section .container h2 .sub-text em {
  color: #d60000;
}

section .container h3 {
  margin-top: 6.25rem;
}

section .container h3 .sub-text {
  font-size: 0.875rem;
}

section .container h3 .sub-text em {
  color: #d60000;
}

section .container .voucher-service {
  margin-top: 6.25rem;
}

section .container .voucher-service .notice {
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  padding-bottom: 1.875rem;
  margin-bottom: 3.75rem;
  border-bottom: 0.125rem solid #dddddd;
}

section .container .voucher-service > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .voucher-service > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

section .container .voucher-service > ul > li .title {
  font-size: 0.875rem;
  font-weight: 600;
  color: #333333;
}

section .container .voucher-service > ul > li p {
  margin-top: 1.25rem;
  line-height: 1.6;
  font-size: 0.875rem;
  color: #666666;
}

section .container.login {
  width: 62.5rem;
  padding-left: 0;
  padding-right: 0;
}

section .container.introduce {
  width: 62.5rem;
  padding-left: 0;
  padding-right: 0;
}

section:nth-last-of-type(1) {
  padding-bottom: 6.25rem;
}

section:nth-last-of-type(1).wide-type {
  padding-bottom: 0;
}

.border-wrap {
  border: 1px solid #dddddd;
}

.top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4.375rem;
  width: 100%;
  min-width: 80rem;
  background-color: #db7b65;
  border-bottom: 1px solid #e8e8e8;
  z-index: 2;
}

.top-nav h1 {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 12.5rem;
          flex: 1 1 12.5rem;
  padding-left: 3.125rem;
}

.top-nav .menu-list {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  height: 4.375rem;
  width: calc(80rem - 6.25rem);
  margin: 0 auto;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80rem;
          flex: 0 1 80rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.top-nav .menu-list > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav .menu-list > ul > li {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-nav .menu-list > ul > li a {
  font-size: 0.875rem;
  color: white;
  font-weight: 600;
}

.top-nav .menu-list > ul > li a.on {
  color: #ffffff;
}

.top-nav .my-page-btns {
  position: absolute;
  right: 0;
  top: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 18.75rem;
          flex: 1 0 18.75rem;
  padding-right: 3.125rem;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 3;
}

.top-nav .my-page-btns > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-nav .my-page-btns > ul > li {
  display: inline-block;
  position: relative;
  font-weight: 600;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-right: 0.125rem solid #e8e8e8;
}

.top-nav .my-page-btns > ul > li:last-child {
  border-right: 0;
}

.top-nav .my-page-btns > ul > li > a {
  font-size: 0.75rem;
  color: #ffffff;
}

.top-nav .my-page-btns > ul > li > a .icon-dropdown {
  vertical-align: middle;
  margin: 0 0.625rem;
}

.all-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 4.375rem;
  height: 0;
  overflow: hidden;
  background-color: #db7b65;
  z-index: 1;
}

.all-menu .container {
  width: 80rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: auto;
  position: relative;
  height: 100%;
}

.all-menu .container a {
  font-size: 0.875rem;
  color: #e59e8e;
}

.all-menu .container a.on {
  border-bottom: 0.0625rem solid #ffffff;
}

.all-menu .container a.on, .all-menu .container a:hover {
  color: #ffffff;
}

.all-menu .container > ul {
  position: absolute;
  top: 2.5rem;
}

.all-menu .container > ul li {
  margin-bottom: 1.875rem;
}

.all-menu .container > ul.vucher-list {
  left: 17.5rem;
}

.all-menu .container > ul.intro-list {
  left: 45.625rem;
}

.all-menu .container > ul.community-list {
  left: 55rem;
}

.all-menu .container > ul.customer-list {
  left: 64.375rem;
}

footer {
  min-width: 80rem;
  background-color: #111111;
  color: #888888;
}

footer .container {
  width: 80rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: auto;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  padding-top: 2.5rem;
  padding-bottom: 3.125rem;
}

footer .container .logo {
  margin-right: 5rem;
}

footer .container .footer-info .quick-links > ul > li {
  display: inline-block;
  margin-right: 2.5rem;
}

footer .container .footer-info .quick-links > ul > li a {
  color: #ffffff;
  font-size: 0.75rem;
}

footer .container .footer-info .info-list {
  margin-top: 1.875rem;
}

footer .container .footer-info .info-list > ul > li {
  display: inline-block;
  margin-right: 1.25rem;
  font-size: 0.75rem;
}

.checkbox-wrap {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.checkbox-wrap input[type="checkbox"] {
  font-size: 0;
  height: 0;
  width: 0;
}

.checkbox-wrap input[type="checkbox"] + label {
  font-size: 1rem;
}

.checkbox-wrap input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
  background-image: url(../images/icon_check_off.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.checkbox-wrap input[type="checkbox"]:checked + label:before {
  content: '';
  background-image: url(../images/icon_check_on.png);
}

.boxtype-btn ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxtype-btn ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 1.5rem;
}

.boxtype-btn ul > li:last-child {
  margin-right: 0;
}

.boxtype-btn ul > li a {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 12.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  border: 1px solid #5e5e5e;
  font-weight: 600;
  opacity: 0.5;
}

.boxtype-btn ul > li a.on {
  border: 0.25rem solid #111111;
  color: #333333;
  opacity: 1;
}

.select-member-type a [class*="icon-"] {
  margin-right: 0.75rem;
}

.select-your-member-type .notice {
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  padding-bottom: 1.875rem;
  margin-bottom: 3.75rem;
  border-bottom: 0.125rem solid #dddddd;
}

.select-your-member-type > ul > li a .tag {
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}

.select-your-member-type > ul > li a .title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
}

[class*="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-share {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='prefix__share' transform='translate(-882 -4097.878)'%3E%3Cpath id='prefix__Path' d='M0 0H40V40H0z' transform='translate(882 4097.878)' style='fill:transparent'/%3E%3Cpath id='prefix__Icon' d='M24.925 33.1a4.857 4.857 0 0 1-4.852-4.852 4.636 4.636 0 0 1 .133-1.08L8.375 20.256a4.985 4.985 0 1 1 0-7.279l11.714-6.828a5.557 5.557 0 0 1-.149-1.164 5.012 5.012 0 1 1 1.595 3.639l-11.714 6.83a5.533 5.533 0 0 1 .149 1.162 5.517 5.517 0 0 1-.149 1.164l11.847 6.895a4.845 4.845 0 1 1 3.257 8.425zm0-6.48a1.662 1.662 0 1 0 1.661 1.662 1.664 1.664 0 0 0-1.661-1.663zM4.985 14.955a1.661 1.661 0 1 0 1.662 1.661 1.663 1.663 0 0 0-1.662-1.661zm19.94-11.631a1.662 1.662 0 1 0 1.661 1.662 1.664 1.664 0 0 0-1.661-1.662z' transform='translate(886.984 4101.322)' style='fill:%23333333'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 2.5rem;
  height: 2.5rem;
}

.icon-person-add {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='prefix__person_add' transform='translate(-168 -4098.102)'%3E%3Cpath id='prsefix__Path' d='M0 0H40V40H0z' transform='translate(168 4098.102)' style='fill:transparent'/%3E%3Cpath id='prefix__Icon' d='M37 27H10.09v-3.375c0-1.383.875-3.382 5.044-5.06a24.907 24.907 0 0 1 8.411-1.691 24.908 24.908 0 0 1 8.412 1.691C36.125 20.243 37 22.243 37 23.625V27zm-13.455-6.751c-4.5 0-9.723 2.167-10.09 3.377h20.182c-.337-1.209-5.556-3.377-10.092-3.377zM8.409 18.562H5.046V13.5H0v-3.375h5.046V5.061h3.363v5.064h5.046V13.5H8.409v5.062zM23.545 13.5a6.75 6.75 0 1 1 6.728-6.75 6.745 6.745 0 0 1-6.728 6.75zm0-10.125A3.375 3.375 0 1 0 26.91 6.75a3.373 3.373 0 0 0-3.365-3.375z' transform='translate(170 4105.102)' style='fill:%23333333'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 2.5rem;
  height: 2.5rem;
}

.icon-add {
  background-image: url(../images/icon_add.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-close {
  background-image: url(../images/icon_close.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-dropdown {
  background-image: url(../images/icon_dropdown.png);
  width: 0.8125rem;
  height: 0.8125rem;
}

.icon-arrow-left {
  background-image: url(../images/icon_arrow_left_filled.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-arrow-right {
  background-image: url(../images/icon_arrow_right_filled.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-exclamation {
  background-image: url(../images/icon_exclamation.png);
  width: 1.5rem;
  height: 1.5rem;
}

[class*="fa-"] {
  color: #eeeeee;
}

[class*="fa-"].black {
  color: #333333;
}

.on[class*="fa-"], .on [class*="fa-"] {
  color: #db7b65;
}

.icon-reply {
  background-image: url(../images/icon_reply.png);
  background-repeat: no-repeat;
  width: 0.75rem;
  height: 0.75rem;
  background-size: contain;
}

.steps {
  margin-top: 1.875rem;
}

.steps > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  overflow: hidden;
}

.steps > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.25rem;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.steps > ul > li:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -3.125rem;
  top: 0;
  width: 3.4375rem;
  height: 6.25rem;
  background-image: url(../images/step_arrow_default.png);
  background-position: right;
  background-repeat: no-repeat;
  z-index: 1;
}

.steps > ul > li:last-child:after {
  content: none;
}

.steps > ul > li.now {
  background-color: #ea5a5c;
  color: #ffffff;
}

.steps > ul > li.now:after {
  background-image: url(../images/step_arrow_now.png);
}

.steps > ul > li.passby {
  background-color: #ba191b;
  color: rgba(255, 255, 255, 0.6);
}

.steps > ul > li.passby:after {
  background-image: url(../images/step_arrow_passby.png);
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #000000;
  white-space: nowrap;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.btn.btn-fit {
  padding: 0 0.625rem;
  font-size: 0.875rem;
}

.btn.btn-md {
  font-size: 0.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.btn.btn-lg {
  font-size: 1rem;
}

.btn.btn-sm {
  font-size: 0.875rem;
  height: auto;
  width: auto;
  min-width: unset;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.btn.border-btn {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.btn.border-btn.gray-btn {
  border: 1px solid #dfe1ea;
}

.btn.border-btn.red-btn {
  border: 1px solid #ea5a5c;
  color: #ea5a5c;
}

.btn.border-btn.default-btn {
  border-radius: 0.625rem;
}

.btn.border-btn.secondary-btn {
  border: 1px solid #b5ceff;
  color: #3288e9;
}

.btn.border-btn.shadow-btn {
  -webkit-box-shadow: 0 0.25rem 0.1875rem 0 rgba(155, 168, 194, 0.21);
          box-shadow: 0 0.25rem 0.1875rem 0 rgba(155, 168, 194, 0.21);
}

.btn.border-btn.none-border-btn {
  border: none;
}

.btn.btn-wide {
  display: block;
  width: 100%;
  text-align: center;
}

.btn.btn-gray {
  background-color: #666666;
}

.btn.btn-gray-light {
  color: #333333;
  background-color: #e6e6e6;
}

.btn.btn-black {
  background-color: #000000;
}

.btn.btn-primary {
  background-color: #873320;
}

.btn.btn-red {
  background-color: #db7b65;
}

.btn.btn-darkred {
  background-color: #873320;
}

.btn-wrap {
  margin: 3.75rem 0;
}

.btn-wrap.align-center {
  text-align: center;
}

.btn-wide-wrap {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

button {
  background-color: transparent;
  font-size: 0.875rem;
}

button [class*="fa-"] {
  color: #333333;
}

input[type="text"].text-input, input[type="password"].text-input, input[type="number"].text-input, textarea.text-input {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  color: #333333;
  border: 0;
}

input[type="text"].text-input::-webkit-input-placeholder, input[type="password"].text-input::-webkit-input-placeholder, input[type="number"].text-input::-webkit-input-placeholder, textarea.text-input::-webkit-input-placeholder {
  color: #c8c8c8;
}

input[type="text"].text-input:-ms-input-placeholder, input[type="password"].text-input:-ms-input-placeholder, input[type="number"].text-input:-ms-input-placeholder, textarea.text-input:-ms-input-placeholder {
  color: #c8c8c8;
}

input[type="text"].text-input::-ms-input-placeholder, input[type="password"].text-input::-ms-input-placeholder, input[type="number"].text-input::-ms-input-placeholder, textarea.text-input::-ms-input-placeholder {
  color: #c8c8c8;
}

input[type="text"].text-input::placeholder, input[type="password"].text-input::placeholder, input[type="number"].text-input::placeholder, textarea.text-input::placeholder {
  color: #c8c8c8;
}

select.select-input {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0.625rem;
  padding-right: calc(0.625rem + 1.875rem);
  color: #333333;
  border: 0;
  background-image: url(../images/icon_select_arrow.png);
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: right 0.625rem center;
}

select.select-input::-ms-expand {
  display: none;
}

input[type="text"], input[type="password"], input[type="number"], select,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
}

.textarea-wrap {
  position: relative;
  min-width: 7.5rem;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.textarea-wrap textarea {
  resize: none;
  height: 100%;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.875rem;
  color: #333333;
}

.textarea-wrap textarea::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.textarea-wrap textarea:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.textarea-wrap textarea::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.textarea-wrap textarea::placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.input-wrap, .select-wrap {
  position: relative;
  height: 2.5rem;
  min-width: 7.5rem;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.input-wrap.sm, .select-wrap.sm {
  width: 6.25rem;
}

.input-wrap.lg, .select-wrap.lg {
  width: 18.75rem;
}

.input-wrap input[type="text"], .input-wrap input[type="password"], .input-wrap input[type="number"], .input-wrap select, .select-wrap input[type="text"], .select-wrap input[type="password"], .select-wrap input[type="number"], .select-wrap select {
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  color: #333333;
}

.input-wrap input[type="text"]::-webkit-input-placeholder, .input-wrap input[type="password"]::-webkit-input-placeholder, .input-wrap input[type="number"]::-webkit-input-placeholder, .input-wrap select::-webkit-input-placeholder, .select-wrap input[type="text"]::-webkit-input-placeholder, .select-wrap input[type="password"]::-webkit-input-placeholder, .select-wrap input[type="number"]::-webkit-input-placeholder, .select-wrap select::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap input[type="text"]:-ms-input-placeholder, .input-wrap input[type="password"]:-ms-input-placeholder, .input-wrap input[type="number"]:-ms-input-placeholder, .input-wrap select:-ms-input-placeholder, .select-wrap input[type="text"]:-ms-input-placeholder, .select-wrap input[type="password"]:-ms-input-placeholder, .select-wrap input[type="number"]:-ms-input-placeholder, .select-wrap select:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap input[type="text"]::-ms-input-placeholder, .input-wrap input[type="password"]::-ms-input-placeholder, .input-wrap input[type="number"]::-ms-input-placeholder, .input-wrap select::-ms-input-placeholder, .select-wrap input[type="text"]::-ms-input-placeholder, .select-wrap input[type="password"]::-ms-input-placeholder, .select-wrap input[type="number"]::-ms-input-placeholder, .select-wrap select::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap input[type="text"]::placeholder, .input-wrap input[type="password"]::placeholder, .input-wrap input[type="number"]::placeholder, .input-wrap select::placeholder, .select-wrap input[type="text"]::placeholder, .select-wrap input[type="password"]::placeholder, .select-wrap input[type="number"]::placeholder, .select-wrap select::placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap [class*="icon-"], .select-wrap [class*="icon-"] {
  position: absolute;
  right: 0;
}

.input-wrap.required, .select-wrap.required {
  padding-right: 1.875rem;
}

.input-wrap.required .icon-checked, .select-wrap.required .icon-checked {
  display: inline-block;
  top: 50%;
  right: 0rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/icon_invalid.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
}

.input-wrap.required.valid .icon-checked, .select-wrap.required.valid .icon-checked {
  background-image: url(../images/icon_valid.png);
}

.select-wrap {
  position: relative;
}

.select-wrap:before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 1rem;
  width: 1.625rem;
  top: 50%;
  right: 0.625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon_select_arrow.png);
  background-size: contain;
}

.input-group {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.input-group.has-unit .unit {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.input-group.flex-type {
  width: 100%;
}

.input-group.flex-type .input-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.input-group .input-wrap + .btn {
  margin-left: 0.625rem;
}

.input-group .radio-wrap {
  margin-right: 1.25rem;
}

.input-group .btn {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.dash {
  display: inline-block;
  margin: 0.625rem;
}

.radio-wrap input[type="radio"] {
  font-size: 0;
  width: 0;
  height: 0;
}

.radio-wrap input[type="radio"] + label {
  background-image: url(../images/icon_radio_off.png);
}

.radio-wrap input[type="radio"]:checked + label {
  background-image: url(../images/icon_radio_on.png);
}

.radio-wrap label {
  display: inline-block;
  padding-left: 1.875rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0.8125rem;
  vertical-align: middle;
  white-space: nowrap;
}

.form-group {
  margin-bottom: 3.75rem;
}

.form-group.table-type > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.form-group.table-type > ul > li .label, .form-group.table-type > ul > li .input-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-group.table-type > ul > li .label {
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
}

.form-group.table-type > ul > li .label.asterisk:after {
  content: '*';
  vertical-align: super;
  color: #d60000;
}

.form-group.table-type > ul > li .notice-text {
  margin: 0 0.625rem;
}

.form-group.table-type > ul > li.flex-type .input-wrap, .form-group.table-type > ul > li.flex-type .select-wrap, .form-group.table-type > ul > li.flex-type .input-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-group.table-type.gray-bg-type > ul li {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.form-group.block-type > ul > li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.25rem;
}

.form-group.block-type > ul > li .label {
  font-weight: 600;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.form-group.narrow-type {
  padding-left: 8.4375rem;
  padding-right: 8.4375rem;
}

.form-group.gray-bg-type > ul {
  background-color: #fafafa;
}

.form-group.gray-bg-type > ul > li {
  border-bottom: 0.0625rem solid #ffffff;
}

.paging {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.paging > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paging > ul > li button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #dddddd;
  color: #888888;
  font-size: 0.75rem;
  min-width: 1.125rem;
  padding: 0.125rem 0.3125rem;
  margin: 0 0.3125rem;
  text-align: center;
}

.paging > ul > li button:hover, .paging > ul > li button.on {
  color: #db7b65;
  border-color: #db7b65;
}

.paging > ul > li button.first, .paging > ul > li button.prev, .paging > ul > li button.next, .paging > ul > li button.last {
  padding: 0.125rem 0.625rem;
}

.paging > ul > li:nth-of-type(1) a, .paging > ul > li:nth-last-of-type(1) a {
  padding: 0.125rem 0.3125rem;
}

.notice-text {
  text-align: center;
  font-size: 1rem;
}

.notice-text.result {
  font-weight: bold;
}

.notice-text.default {
  color: #333333;
}

.notice-text.alert {
  color: #d60000;
}

.notice-text.fc-gray {
  color: #666666;
}

.notice-text .sub-text {
  font-size: 0.875rem;
  color: #888888;
}

.header-text {
  font-size: 1.75rem;
  color: #333333;
  font-weight: 600;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.dropdown {
  position: fixed;
  top: 3.75rem;
  border: 0.0625rem solid #dddddd;
  min-width: 9.375rem;
  padding: 0.625rem 1.25rem;
  background-color: #ffffff;
}

.dropdown > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown > ul > li {
  margin: 0.625rem 0.3125rem;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown > ul > li > a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #888888;
  font-size: 0.6875rem;
}

.dropdown > ul > li > a:hover {
  color: #333333;
  font-weight: 600;
  text-decoration: underline;
}

.dropdown > ul > li:after {
  content: '>';
  color: #888888;
  font-size: 0.6875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
  margin-left: 0.625rem;
}

.dropdown > ul > li .tag {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.1875rem;
  background-color: #333333;
  color: #ffffff;
  font-size: 0.625rem;
  border-radius: 50%;
}

.dropdown > ul > li .tag.red {
  background-color: #db7b65;
}

.list-table table {
  width: 100%;
  text-align: center;
}

.list-table table td.align-l, .list-table table th.align-l {
  text-align: left;
}

.list-table table td.align-r, .list-table table th.align-r {
  text-align: right;
}

.list-table table td em, .list-table table th em {
  font-weight: 600;
}

.list-table table td .emphas, .list-table table th .emphas {
  color: #db7b65;
}

.list-table table thead th {
  padding: 0.9375rem 0;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 600;
}

.list-table table tbody tr td, .list-table table tbody tr th {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.list-table table tbody tr td .adress-list li, .list-table table tbody tr th .adress-list li {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.list-table table tbody tr td .adress-list li .tag, .list-table table tbody tr th .adress-list li .tag {
  display: inline-block;
  width: 2.8125rem;
  padding: 0.3125rem 0;
  font-size: 0.75rem;
  text-align: center;
  color: #ffffff;
}

.list-table table tbody tr td .adress-list li .tag.sky-blue, .list-table table tbody tr th .adress-list li .tag.sky-blue {
  background-color: #8ec3f0;
}

.list-table table tbody tr td .adress-list li .tag.gray, .list-table table tbody tr th .adress-list li .tag.gray {
  background-color: #999999;
}

.list-table table tbody tr td .btn-link, .list-table table tbody tr th .btn-link {
  color: #888888;
  font-size: 0.8125rem;
}

.list-table table tbody tr td .btn-link:hover, .list-table table tbody tr th .btn-link:hover {
  color: #333333;
  font-weight: 600;
  text-decoration: underline;
}

.list-table table .no-result {
  text-align: center;
}

.list-table table .no-result td {
  padding: 1.875rem;
}

.list-table.thead-gray table th {
  background-color: #e5e5e5;
  color: #333333;
}

.list-table.th-ahead-type table {
  border-top: 0.125rem solid #111111;
}

.list-table.th-ahead-type table td, .list-table.th-ahead-type table th {
  font-size: 0.875rem;
  text-align: left;
  vertical-align: top;
  line-height: 1.4;
}

.list-table.th-ahead-type table td.align-l, .list-table.th-ahead-type table th.align-l {
  text-align: left;
}

.list-table.th-ahead-type table td.align-r, .list-table.th-ahead-type table th.align-r {
  text-align: right;
}

.list-table.th-ahead-type table th {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #dddddd;
  font-weight: 600;
}

.list-table.th-ahead-type table td {
  color: #666666;
}

.list-table.bg-gray-type table {
  background-color: #fafafa;
}

.list-table.bg-gray-type table th, .list-table.bg-gray-type table td {
  border-bottom: 0.0625rem solid #ffffff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.list-table.bg-gray-type table th .input-wrap, .list-table.bg-gray-type table th .select-wrap, .list-table.bg-gray-type table td .input-wrap, .list-table.bg-gray-type table td .select-wrap {
  height: 2rem;
}

.table-topper {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.table-topper .prefix, .table-topper .center, .table-topper .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-topper .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-topper .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table-topper .label {
  font-size: 0.875rem;
  font-weight: 600;
}

.table-topper .checkbox-group {
  margin-left: 2.5rem;
}

.table-topper .checkbox-group > ul > li {
  display: inline-block;
  margin-right: 1.25rem;
}

.table-topper .checkbox-group > ul > li .checkbox-wrap input[type="checkbox"]:checked + label {
  color: #ea5a5c;
}

.table-topper .checkbox-group > ul > li .checkbox-wrap label {
  font-size: 0.8125rem;
}

.table-topper button {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  min-width: 6.25rem;
  font-size: 0.8125rem;
  background-color: #f4f4f4;
  color: #888888;
}

.table-topper button.on {
  background-color: transparent;
  border: 0.125rem solid #000000;
  color: #333333;
}

.table-topper .sort > ul {
  display: inline-block;
}

.table-topper .sort > ul > li {
  display: inline-block;
  margin-left: 0.3125rem;
}

.table-topper .sort > ul > li:nth-of-type(1) {
  margin-left: 0;
}

.accordion-type .toggle {
  cursor: pointer;
}

.accordion-type .toggle td {
  text-align: center;
}

.accordion-type .toggle td .title {
  text-align: left;
}

.accordion-type .toggle.on .title {
  color: #db7b65;
  text-decoration: underline;
}

.accordion-type .content td {
  display: none;
  min-height: 12.5rem;
  padding: 2.5rem;
  background-color: #f8f8f8;
  color: #333333;
  font-size: 0.875rem;
  line-height: 1.8;
}

.thead-dark table thead tr th {
  background-color: #888888;
}

.thead-primary table thead tr th {
  background-color: #db7b65;
  color: #ffffff;
}

.border-top-primary {
  border-top: 1px solid #db7b65;
}

.border-top-primary thead {
  border-bottom: 0.0625rem solid #dddddd;
}

.border-top-primary thead tr th {
  color: #333333;
}

.tab-wrap .tab > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.tab-wrap .tab > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.tab-wrap .tab > ul > li > a {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.0625rem;
  background-color: #f8f8f8;
  border: 0.0625rem solid #eeeeee;
  color: #aaaaaa;
  font-size: 1rem;
}

.tab-wrap .tab > ul > li > a.on {
  background-color: #ffffff;
  border: 0.0625rem solid #333333;
  color: #333333;
  font-weight: 600;
}

.tab-wrap .tab.sm {
  padding: 0 1.25rem;
}

.tab-wrap .tab.sm > ul > li > a {
  height: 3rem;
  font-size: 1rem;
}

.tab-wrap.find-id {
  padding-top: 6.25rem;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

.tab-wrap.find-id .tab > ul > li > a {
  font-size: 1rem;
  color: #888888;
  background-color: #f8f8f8;
}

.tab-wrap.find-id .tab > ul > li > a.on {
  color: #333333;
  background-color: #ffffff;
}

.tab-border-type-wrap {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.tab-border-type-wrap .tab > ul {
  text-align: center;
}

.tab-border-type-wrap .tab > ul > li {
  display: inline-block;
  text-align: center;
}

.tab-border-type-wrap .tab > ul > li > a {
  height: 4.0625rem;
  padding-bottom: 0.3125rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  color: #aaaaaa;
  font-size: 1rem;
}

.tab-border-type-wrap .tab > ul > li > a.on {
  border-bottom: 0.1875rem solid #333333;
  color: #333333;
  font-weight: 600;
}

.tab-border-type-wrap .tab.sm {
  padding: 0 1.25rem;
}

.tab-border-type-wrap .tab.sm > ul > li > a {
  height: 3rem;
  font-size: 1rem;
}

.tag {
  display: inline-block;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 1.25rem;
  font-size: 0.8125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tag.tag-green {
  border-color: #50ae23;
  color: #50ae23;
}

.tag.tag-yellow {
  border-color: #d67900;
  color: #d67900;
}

.link-partition > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-partition > ul > li {
  display: inline-block;
  position: relative;
  font-weight: 600;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-right: 0.125rem solid #e8e8e8;
}

.link-partition > ul > li:last-child {
  border-right: 0;
}

.link-partition > ul > li > a {
  font-size: 0.75rem;
  color: #888888;
}

.link-partition > ul > li > a .icon-dropdown {
  vertical-align: middle;
  margin: 0 0.625rem;
}

.notice-info {
  font-size: 0.875rem;
  color: #666666;
  line-height: 2;
}

.notice-info .h2-text {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 600;
}

.notice-info .h2-text [class*="icon-"] {
  vertical-align: middle;
}

.search-box .form-group > ul li {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating > span {
  display: inline-block;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.comment-write {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.comment-write .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6.25rem;
}

.comment-write .input-group .textarea-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.comment-write .input-group .textarea-wrap textarea {
  padding: 1.25rem;
}

.comment-write .input-group .btn {
  margin-left: 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
}

.comment-list .list-table table tbody tr td, .comment-list .list-table table tbody tr th {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  border-bottom: 0;
  border-top: 0.0625rem solid #dddddd;
}

.comment-list .list-table table tbody tr td:nth-last-of-type(1) {
  text-align: right;
}

.comment-list .list-table table tbody tr.re-comment th {
  border-top: 0;
}

.comment-list .list-table .after-permission {
  border-bottom: 0.0625rem solid #dddddd;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.comment-list .list-table .after-permission p {
  font-weight: 600;
}

.comment-list .rating {
  display: inline-block;
}

.comment-list .writer {
  color: #666666;
  font-size: 1rem;
}

.comment-list .comment-title {
  font-size: 16px;
  font-weight: 600;
}

.comment-list .comment-body {
  margin-top: 1.875rem;
}

.comment-list .re-comment-write .input-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

section.popup {
  height: 100%;
  margin-bottom: 0;
}

section.popup .container {
  overflow: auto;
  height: 100%;
  width: auto;
  border: 0.25rem solid #111111;
}

section.popup .container h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

section.popup .container .h2-text {
  margin-top: 2.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #333333;
}

section.popup .container .notice {
  font-size: 1rem;
  color: #333333;
}

section.popup .container .sub-text {
  font-size: 1rem;
  color: #888888;
  line-height: 1.6;
}

section.popup .container .form-group.table-type > ul > li .label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6.25rem;
          flex: 0 1 6.25rem;
}

section.popup.has-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.popup.has-aside > .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 43.75rem;
          flex: 1 0 43.75rem;
  border: 0;
  background-color: #ffffff;
  z-index: 1;
}

section.popup.has-aside > .container::-webkit-scrollbar {
  width: 0.3125rem;
}

section.popup.has-aside > .container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

section.popup.has-aside > .container::-webkit-scrollbar-thumb {
  background: #dddddd;
}

section.popup.has-aside aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.25rem;
          flex: 0 0 31.25rem;
  background-color: #fafafa;
}

section.popup.has-aside aside .container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 43.75rem;
          flex: 1 0 43.75rem;
  border: 0;
}

section.popup.has-aside aside .container::-webkit-scrollbar {
  width: 0.3125rem;
}

section.popup.has-aside aside .container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

section.popup.has-aside aside .container::-webkit-scrollbar-thumb {
  background: #dddddd;
}

section.modal .container {
  width: auto;
}

section.modal .container h2 {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

section.modal .container h2 .prefix, section.modal .container h2 .center, section.modal .container h2 .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.modal .container h2 .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.modal .container h2 .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.modal .container .h2-text {
  margin-top: 2.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #333333;
}

section.modal .container .notice {
  font-size: 1rem;
  color: #333333;
}

section.modal .container .sub-text {
  font-size: 1rem;
  color: #888888;
  line-height: 1.6;
}

section.modal .container .form-group.table-type > ul > li .label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

section.modal a.close-modal {
  top: 0.9375rem;
  right: 0.9375rem;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-banner .img-wrap {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.main-banner .img-wrap img {
  width: 100%;
}

.main-banner .img-wrap .link-to-service {
  display: inline-block;
  position: absolute;
  right: 9.375rem;
  top: 6.25rem;
  width: 42.3125rem;
  height: 16.5625rem;
}

.main-banner .img-wrap .link-to-service img {
  width: 100%;
}

.main h3.title {
  text-align: center;
}

.main .major-voucher-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.75rem;
}

.main .major-voucher-link li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 3 - 1rem);
          flex: 0 0 calc(100% / 3 - 1rem);
}

.main .major-voucher-link li a {
  display: block;
  height: 13.75rem;
  padding: 2.5rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.22);
  background-repeat: no-repeat;
  background-position: right 1.25rem bottom 1.25rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .major-voucher-link li a:hover {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
  -webkit-box-shadow: 0.3125rem 1.25rem 0.9375rem 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0.3125rem 1.25rem 0.9375rem 0 rgba(0, 0, 0, 0.22);
  text-decoration: underline;
  color: #db7b65;
}

.main .major-voucher-link li a:hover .voucher-name {
  color: #db7b65;
}

.main .major-voucher-link li a .voucher-name {
  position: relative;
  line-height: 1.7;
  color: #666666;
  font-weight: 600;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .major-voucher-link li a .voucher-name:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -1.25rem;
  left: 0;
  width: 1.1875rem;
  height: 0.4375rem;
  background-image: url(../images/arrow_link.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.main .major-voucher-link li:nth-of-type(1) a {
  background-image: url(../images/main_voucher_img_01.png);
}

.main .major-voucher-link li:nth-of-type(2) a {
  background-image: url(../images/main_voucher_img_02.png);
}

.main .major-voucher-link li:nth-of-type(3) a {
  background-image: url(../images/main_voucher_img_03.png);
}

.main .search-box {
  margin-top: 2.5rem;
}

.main .search-box .input-group .select-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 12.5rem;
          flex: 1 1 12.5rem;
}

.main .search-box .input-group .input-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.main .search-box .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.875rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.main .search-box .filter button {
  background-color: #f4f4f4;
  color: #8e8e8e;
}

.main .search-box .filter button.whole {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  height: 100%;
  margin-right: 0.625rem;
}

.main .search-box .filter button.on {
  background-color: #ffffff;
  color: #db7b65;
  border: 0.0625rem solid #db7b65;
}

.main .search-box .filter > ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .search-box .filter > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 8 - 0.3125rem);
          flex: 0 0 calc(100% / 8 - 0.3125rem);
  height: 3.125rem;
  margin-bottom: 0.625rem;
}

.main .search-box .filter > ul > li button {
  height: 100%;
  width: 100%;
}

.main .intro-link {
  width: 80%;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.main .intro-link > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .intro-link > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12.5rem;
  height: 10rem;
  border: 0.125rem solid #666666;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .intro-link > ul li a:hover {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.22);
  text-decoration: underline;
  background-color: #db7b65;
  color: #ffffff;
  border: 0;
}

.main .boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.75rem;
}

.main .boards .notice-board {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25rem;
          flex: 0 0 25rem;
}

.main .boards .notice-board a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .boards .faq-board {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25rem;
          flex: 0 0 25rem;
}

.main .boards .table-topper {
  border-bottom: 0.0625rem solid #999999;
}

.main .boards .border-list {
  width: 36.25rem;
}

.main .boards .border-list li {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border-bottom: 0.0625rem solid #e8e8e8;
}

.main .boards .border-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
}

.main .boards .border-list li a .title {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 28.125rem;
      flex-basis: 28.125rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main .boards .border-list li a .date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #888888;
}

.main .boards .border-list li a .catagory {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  color: #888888;
}

.main .boards .border-list li a:hover .title {
  color: #db7b65;
  text-decoration: underline;
}

.video-info {
  height: 27.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-info .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.video-info .description .title {
  color: #d60000;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7;
}

.video-info .description .sub-text {
  color: #666666;
  font-size: 0.875rem;
  line-height: 1.7;
}

.video-info .video-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customer-center {
  text-align: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.customer-center .info > li {
  display: inline-block;
  width: 18.75rem;
  border-right: 0.0625rem solid #333333;
  padding: 0 1.25rem;
}

.customer-center .info > li:nth-of-type(1) {
  text-align: right;
}

.customer-center .info > li:nth-last-of-type(1) {
  text-align: left;
  border-right: 0;
}

.terms .terms-to-read {
  height: 9.375rem;
  margin: 0.625rem 0 3.125rem;
  border: 1px solid #dddddd;
  overflow-y: auto;
  padding: 0.9375rem;
}

.terms .label-sub em {
  color: #db7b65;
}

.terms.apply-member {
  margin-top: 6.25rem;
}

.login-wrap {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.login-wrap h3 {
  margin-top: 3.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.login-wrap .login-by-account {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.125rem;
          flex: 0 0 43.125rem;
  border-right: 1px solid #dddddd;
}

.login-wrap .login-by-account .tab-wrap .tab-content {
  padding-top: 3.75rem;
}

.login-wrap .login-by-account .tab-wrap .tab-content .form-group > ul > li {
  margin-bottom: 1.25rem;
}

.login-wrap .login-by-account .tab-wrap .tab-content .form-group > ul > li .input-wrap {
  height: 3.4375rem;
}

.login-wrap .login-by-account .link-partition {
  position: absolute;
  width: 100%;
  bottom: 1.875rem;
}

.login-wrap .login-by-sns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.login-wrap .login-by-sns .header {
  text-align: center;
  padding: 1.25rem;
  vertical-align: middle;
}

.login-wrap .login-by-sns .header .icon-share {
  width: 1.5rem;
  height: 1.5rem;
  color: #888888;
  vertical-align: middle;
}

.login-wrap .login-by-sns > ul {
  padding: 2.5rem;
}

.login-wrap .login-by-sns > ul li {
  margin-bottom: 2.5rem;
}

.login-wrap .login-by-sns > ul li .sns-login-btn {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 7.5rem;
  color: #333333;
}

.login-wrap .login-by-sns > ul li .sns-login-btn > span {
  margin-top: 0.625rem;
  font-weight: 600;
}

.login-wrap .login-by-sns > ul li .sns-login-btn.naver {
  background-color: #0acf5d;
}

.login-wrap .login-by-sns > ul li .sns-login-btn.kakao {
  background-color: #ffcd00;
}

.login-wrap .find-id-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.125rem;
          flex: 0 0 43.125rem;
  margin: 0 auto;
}

.login-wrap .find-id-wrap .find-result {
  text-align: center;
  margin: 5rem 0;
  font-weight: 600;
}

.introduce .tab-wrap {
  padding-top: 6.25rem;
}

.introduce .img-wrap img {
  width: auto;
  margin: auto;
}

.introduce .img-wrap.edu-card {
  text-align: center;
}

.introduce .img-wrap.use-step img {
  width: 100%;
}

.introduce .img-wrap .description {
  color: #999999;
  font-size: 0.875rem;
}

.introduce .treatment-intro-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduce .treatment-intro-wrap .img-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.75rem;
          flex: 0 0 18.75rem;
}

.introduce .treatment-intro-wrap .img-wrap img {
  width: 100%;
}

.introduce .treatment-intro-wrap .text-wrap {
  margin-left: 2.5rem;
}

.introduce .treatment-intro-wrap .text-wrap h3 {
  margin-top: 0;
}

.introduce .treatment-intro-wrap .text-wrap .default-text {
  margin-top: 1.25rem;
}

.introduce .treatment-intro-wrap .text-wrap .default-text.fs-16 {
  font-size: 1rem;
}

.introduce .default-text {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  color: #666666;
  font-size: 0.875rem;
  line-height: 2.3;
}

.introduce .default-text .h3-text {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  color: #333333;
}

.introduce .voucher-info.list-table table, .introduce .service-target.list-table table {
  text-align: center;
}

.introduce .voucher-info.list-table table tbody tr td:nth-of-type(1), .introduce .service-target.list-table table tbody tr td:nth-of-type(1) {
  text-align: center;
}

.introduce .voucher-info.list-table table tbody tr td:nth-last-of-type(1), .introduce .service-target.list-table table tbody tr td:nth-last-of-type(1) {
  text-align: center;
}

.introduce .service-operation.list-table table {
  text-align: left;
}

.introduce .service-operation.list-table table td, .introduce .service-operation.list-table table th {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  line-height: 1.4;
}

.introduce .service-operation.list-table table td em, .introduce .service-operation.list-table table th em {
  font-weight: 600;
}

.introduce .issuance-procedure.list-table table .next-step {
  font-size: 1.75rem;
}

.introduce .issuance-procedure.list-table table .next-step .fas {
  color: #666666;
}

.introduce .issuance-procedure.list-table table .step td {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.introduce .issuance-procedure.list-table table .step td:nth-of-type(1) {
  background-color: #ea5a5c;
  color: #ffffff;
}

.introduce .issuance-procedure.list-table table .step td:nth-of-type(2) {
  background-color: #f5f5f5;
}

.introduce .issuance-procedure.list-table table .step td:nth-of-type(3) {
  background-color: #999999;
}

.introduce .issuance-procedure.list-table table .bridge td {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.find-adress .list-table table tbody tr td:nth-of-type(1) {
  text-align: center;
}

.find-adress .list-table table tbody tr td:nth-last-of-type(1) {
  text-align: center;
}

.find-center .map-api {
  height: 31.25rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.find-center .result-table {
  margin-top: 3.125rem;
}

.find-center .result-table table {
  width: 100%;
}

.find-center .result-table table thead th {
  text-align: center;
}

.find-center .result-table table tbody td {
  text-align: center;
  font-size: 1rem;
}

.find-center .result-table table tbody td .center-name {
  font-size: 0.875rem;
  font-weight: 600;
}

.find-center .result-table table tbody td .rating {
  width: 7.5rem;
  margin: 0 auto;
}

.find-center .result-table table tbody td .vouchers {
  width: auto;
  margin: 0 auto;
  text-align: left;
}

.find-center .result-table table tbody td .vouchers .tag {
  margin-right: 0.1875rem;
  margin-left: 0.1875rem;
  margin-bottom: 0.1875rem;
  margin-top: 0.1875rem;
}

.find-center .center-info-table .table-topper {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  font-size: 1.25rem;
}

.find-center .center-info-table .table-topper .prefix, .find-center .center-info-table .table-topper .center, .find-center .center-info-table .table-topper .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-center .center-info-table .table-topper .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find-center .center-info-table .table-topper .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.find-center .center-info-table .table-topper h3.title {
  display: inline-block;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.find-center .center-info-table .table-topper .rating {
  display: inline-block;
  margin-left: 1.25rem;
}

.find-center .center-info-table .table-topper .review {
  margin-left: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.find-center .center-info-table .table-topper .review em {
  color: #db7b65;
}

.find-center .center-info-table table td p {
  width: 70%;
  line-height: 1.8;
}

.my-child-popup .legend {
  font-weight: 600;
}

.my-child-popup aside {
  position: relative;
}

.my-child-popup aside .search-teacher {
  position: absolute;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fafafa;
  -webkit-box-shadow: 0.1875rem -0.1875rem 0.625rem 0.1875rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1875rem -0.1875rem 0.625rem 0.1875rem rgba(0, 0, 0, 0.1);
}

.my-child-popup aside .search-teacher .input-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.schedule-list .item, .schedule-comment-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 9.375rem;
  border: 0.0625rem solid #dddddd;
  margin-bottom: 1.25rem;
}

.schedule-list .item .date-wrap, .schedule-comment-list .item .date-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  height: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
}

.schedule-list .item .date-wrap .date, .schedule-comment-list .item .date-wrap .date {
  font-size: 1.125rem;
}

.schedule-list .item .date-wrap .day, .schedule-comment-list .item .date-wrap .day {
  font-size: 0.75rem;
  color: #333333;
  margin-top: 0.625rem;
}

.schedule-list .item .date-wrap .name, .schedule-comment-list .item .date-wrap .name {
  font-size: 0.875rem;
}

.schedule-list .item .schedule-text, .schedule-comment-list .item .schedule-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
  border-left: 0.0625rem solid #dddddd;
}

.schedule-list .item .schedule-text .text-area, .schedule-comment-list .item .schedule-text .text-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.schedule-list .item .schedule-text .modify-date, .schedule-comment-list .item .schedule-text .modify-date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  border-top: 0.0625rem solid #dddddd;
  font-size: 0.875rem;
  color: #888888;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-list .item .schedule-text .modify-date .prefix, .schedule-list .item .schedule-text .modify-date .center, .schedule-list .item .schedule-text .modify-date .suffix, .schedule-comment-list .item .schedule-text .modify-date .prefix, .schedule-comment-list .item .schedule-text .modify-date .center, .schedule-comment-list .item .schedule-text .modify-date .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-list .item .schedule-text .modify-date .center, .schedule-comment-list .item .schedule-text .modify-date .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule-list .item .schedule-text .modify-date .suffix, .schedule-comment-list .item .schedule-text .modify-date .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.schedule-list .item .teacher-comment, .schedule-comment-list .item .teacher-comment {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
}

.teacher-list {
  padding-bottom: 8.5625rem;
}

.teacher-list > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 0.9375rem;
  margin-bottom: 0.625rem;
  background-color: #ffffff;
  border: 0.0625rem solid #dddddd;
}

.teacher-list > ul li .label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.5rem;
          flex: 0 0 7.5rem;
  font-size: 0.8125rem;
  font-weight: 600;
}

.teacher-list > ul li .input-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.enrollment-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enrollment-schedule .label-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  margin-right: 1.25rem;
}

.enrollment-schedule .label-wrap .label {
  display: block;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  font-weight: 600;
  background-color: #db7b65;
  color: #ffffff;
}

.enrollment-schedule > .input-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 18.75rem;
}

.enrollment-schedule > .input-wrap textarea {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  resize: none;
}

.report-list {
  border-top: 0.125rem solid #111111;
}

.report-list .item {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.report-list .item .prefix, .report-list .item .center, .report-list .item .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report-list .item .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.report-list .item .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customer-satisfaction .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.875rem;
  margin-bottom: 2.5rem;
}

.customer-satisfaction .filter button {
  background-color: #f4f4f4;
  color: #8e8e8e;
}

.customer-satisfaction .filter button.whole {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  height: 100%;
  margin-right: 0.625rem;
}

.customer-satisfaction .filter button.on {
  background-color: #ffffff;
  color: #db7b65;
  border: 0.0625rem solid #db7b65;
}

.customer-satisfaction .filter > ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer-satisfaction .filter > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 8 - 0.3125rem);
          flex: 0 0 calc(100% / 8 - 0.3125rem);
  height: 3.125rem;
  margin-bottom: 0.625rem;
}

.customer-satisfaction .filter > ul > li button {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */