.boxtype-btn{
  ul{
    @include display-flex;
    width: 100%;
    justify-content: space-between;
    >li{
      flex: 0 1 50%;
      margin-right: rem(24);
      &:last-child{
        margin-right: 0;
      }
      a{
        @include display-flex;
        width: 100%;
        height: rem(200);
        justify-content: center;
        align-items: center;
        font-size: rem(24);
        border: $border-bold-off;
        font-weight: $bold;
        opacity: 0.5;
        // color: lighten($font-color-default, 30%);
        &.on{
          border: $border-bold;
          color: $font-color-default;
          opacity: 1;
        }
      }
    }
  }
}

.select-member-type{
  a{
    [class*="icon-"]{
      margin-right: rem(12);
    }
  }
}
.select-your-member-type{
  .notice{
    font-size: rem(16);
    font-weight: $bold;
    color: $font-color-default;
    padding-bottom: rem(30);
    margin-bottom: rem(60);
    border-bottom: rem(2) solid $border-default;
  }
  >ul{
    >li{
      a{
        .tag{
          display: inline-block;
          font-size: rem(14);
          margin-bottom: rem(20);
        }
        .title{
          display: inline-block;
          font-size: rem(24);
          font-weight: $bold;
          color: $font-color-default;
        }
      }
    }
  }
}