.btn{
  display: inline-block;
  font-weight: $bold;
  font-size: rem(16);
  font-weight: $bold;
  color: $btn-default-color;
  background-color: $btn-default-bg;
  white-space: nowrap;
  padding-top: $btn-default-pad-top-bottom;
  padding-bottom: $btn-default-pad-top-bottom;
  padding-left: $btn-default-pad-top-side;
  padding-right: $btn-default-pad-top-side;
  &.btn-fit{
    padding: 0 rem(10);
    font-size: rem(14);
  }
  &.btn-md{
    font-size: rem(14);
    padding-left: $btn-mid-pad-top-side;
    padding-right: $btn-mid-pad-top-side;
  }
  &.btn-lg{
    font-size: rem(16);
  }
  &.btn-sm{
    font-size: rem(14);
    height: auto;
    width: auto;
    min-width: unset;
    padding-top: rem(5);
    padding-bottom: rem(5);
    padding-left: rem(15);
    padding-right: rem(15);
  }
  
  &.border-btn{ 
    border: 1px solid $btn-default-border-color;
    background-color: #ffffff;
    color: $btn-default-border-color;
    &.gray-btn{
      border: 1px solid #dfe1ea;
    }
    &.red-btn{
      border: 1px solid #ea5a5c;
      color: #ea5a5c;
    }
    &.default-btn{
      border-radius: rem(10);
    }
    &.secondary-btn{  
      border: 1px solid #b5ceff;
      color: #3288e9;
    }
    &.shadow-btn{
      box-shadow: 0 rem(4) rem(3) 0 rgba(155, 168, 194, 0.21);
    }
    &.none-border-btn{
      border: none;
    }
  }

  &.btn-wide{
    display: block;
    width: 100%;
    text-align: center;
  }

  &.btn-gray{
    background-color: $btn-gray-bg;
  }     
  &.btn-gray-light{
    color: $font-color-default;
    background-color: lighten($btn-gray-bg, 50%);
  }     
  &.btn-black{
    background-color: #000000;
  }
  &.btn-primary{
    background-color: darken($red, 30%);
    // background-color: #9e2c2e;
  }
  &.btn-red{
    background-color: $red;
  }
  &.btn-darkred{
    background-color: darken($red, 30%);
  }
}

.btn-wrap{
  margin: rem(60) 0;
  &.align-center{
    text-align: center;
  }
}
.btn-wide-wrap{
  margin-top: rem(40);
  margin-bottom: rem(40);
}

button{
  background-color: transparent;
  font-size: rem(14);
  [class*="fa-"]{
    color: $font-color-default;
  }
}