.checkbox-wrap{
  margin-top: $checkbox-default-margin;
  margin-bottom: $checkbox-default-margin;
  input[type="checkbox"]{
    font-size: 0;
    height: 0;
    width: 0;
    &+label{
      font-size: rem(16);
      // font-weight: $bold;
      &:before{
        content: '';
        display: inline-block;
        width: rem(18);
        height: rem(18);
        margin-right: rem(5);
        background-image: url(../images/icon_check_off.png);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
      }
    }
    &:checked + label{
      &:before{
        content: '';
        background-image: url(../images/icon_check_on.png);
      }
    }
  }
}