.comment-write{
  margin-top: rem(40);
  margin-bottom: rem(20);
  .input-group{
    display: flex;
    width: 100%;
    height: rem(100);
    .textarea-wrap{
      flex: 1 1 auto;
      textarea{
        padding: rem(20);
      }
    }
    .btn{
      margin-left: rem(10);
      flex: 0 0 rem(150);
    }
  }
}
.comment-list{
  .list-table{
    table{
      tbody{
        tr{
          td, th{
            padding-top: rem(25);
            padding-bottom: rem(25);
            border-bottom: 0;
            border-top: rem(1) solid $border-default;
          }
          td{
            &:nth-last-of-type(1){
              text-align: right;
            }
          }
          &.re-comment{
            th{
              border-top: 0;
            }
          }
        }
      }
    }
    .after-permission{
      // text-align: center;
      border-bottom: rem(1) solid $border-default;
      padding-top: rem(50);
      padding-bottom: rem(50);
      p{
        font-weight: $bold;
      }
    }
  }
  .rating{
    display: inline-block;
  }
  .writer{
    color: $font-color-light;
    font-size: rem(16);
  }
  .comment-title{
    font-size: 16px;
    font-weight: $bold;
  }
  .comment-body{
    margin-top: rem(30);
  }
  .re-comment-write{
    .input-wrap{
      flex: 1 1 auto;
    }
  }
}