.customer-satisfaction{
  .filter{
    display: flex;
    height: rem(110);
    margin-bottom: rem(40);
    button{
      background-color: #f4f4f4;
      color: darken(#f4f4f4, 40%);
      &.whole{
        flex: 0 0 rem(150);
        height: 100%;
        margin-right: rem(10);
      }
      &.on{
        background-color: #ffffff;
        color: $red;
        border: rem(1) solid $red;
      }
    }
    >ul{
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >li{
        flex: 0 0 calc(100% / 8 - #{rem(5)});
        height: rem(50);
        margin-bottom: rem(10);
        button{
          height: 100%;
          width: 100%;
          
        }
      }
    }
  }
}