.dropdown{
  position: fixed;
  top: rem(60);
  border: rem(1) solid $border-default;
  min-width: rem(150);
  padding: rem(10) rem(20);
  background-color: #ffffff;
  >ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    >li{
      margin: rem(10) rem(5);
      @include display-flex;
      align-items: center;
      > a{
        flex: 1 1 auto;
        color: $font-color-gray;
        font-size: rem(11);
        &:hover{
          color: $font-color-default;
          font-weight: $bold;
          text-decoration: underline;
        }
      }
      &:after{
        content: '>';
        color: $font-color-gray;
        font-size: rem(11);
        flex: 1 1 auto;
        text-align: right;
        margin-left: rem(10);
      }
      .tag{
        @include display-flex;
        align-items: center;
        justify-content: center;
        width: rem(20);
        height: rem(20);
        margin: 0 rem(3);
        background-color: $font-color-default;
        color: #ffffff;
        font-size: rem(10);
        border-radius: 50%;
        &.red{
          background-color: $red;
        }
      }
    }
  }
}
.toggle-dropdown{

}