.find-center{
  .map-api{
    height: rem(500);
    margin-top: rem(60);
    margin-bottom: rem(60);
  }
  .result-table{
    margin-top: rem(50);
    
    table{
      width: 100%;
      thead{
        th{
          text-align: center;
        }
      }
      tbody{
        td{
          text-align: center;
          font-size: rem(16);
          .center-name{
            font-size: rem(14);
            font-weight: $bold;
          }
          .rating{
            width: rem(120);
            margin: 0 auto;
          }
          .vouchers{
            width: auto;
            margin: 0 auto;
            text-align: left;
            .tag{
              margin-right: rem(3);
              margin-left: rem(3);
              margin-bottom: rem(3);
              margin-top: rem(3);
            }
          }
          
        }
      }
    }
  }

  .center-info-table{
    .table-topper{
      @include prefix-suffix;
      font-size: rem(20);
      h3.title{
        display: inline-block;
        font-weight: $bold;
        margin-top: rem(12);
        margin-bottom: rem(12);
      }
      .rating{
        display: inline-block;
        margin-left: rem(20);
      }
      .review{
        margin-left: rem(20);
        font-size: rem(16);
        font-weight: $bold;
        em{
          color: $red;
        }
      }
    }
    table{
      td{
        p{
          width: 70%;
          line-height: 1.8;
        }
      }
    }
  }
}