footer{
  min-width: $container-width;
  background-color: $footer-bg;
  color: $footer-font-color;
  .container{
    @include container-default;
    @include display-flex;
    padding-top: rem(40);
    padding-bottom: rem(50);
    .logo{
      margin-right: rem(80);
    }
    .footer-info{
      .quick-links{
        >ul{
          >li{
            display: inline-block;
            margin-right: rem(40);
            a{
              color: #ffffff;
              font-size: rem(12);
            }
          }
        }
      }
      .info-list{
        margin-top: rem(30);
        >ul{
          >li{
            display: inline-block;
            margin-right: rem(20);
            font-size: rem(12);
          }
        }
      }
    }
  }
}