.form-group{
  margin-bottom: rem(60);
  &.table-type{
    > ul{
      > li{
        display: flex;
        align-items: center;
        margin-top: $table-list-margin;
        margin-bottom: $table-list-margin;
        .label, .input-text{
          flex: 1 1 auto;
        }
        .label{
          font-weight: $bold;
          font-size: rem(14);
          flex: 0 0 rem(150);
          &.asterisk{
            &:after{
              content: '*';
              vertical-align: super;
              color: $alert;
            }
          }
        }
        
        .notice-text{
          margin: 0 rem(10);
        }
        &.flex-type{
          .input-wrap, .select-wrap, .input-group{
            flex: 1 1 auto;
          }
        }
      }
    }
    &.gray-bg-type{
      >ul{
        li{
          margin-top: 0;
          margin-bottom: 0;
          padding-top: $table-list-margin;
          padding-bottom: $table-list-margin;
          padding-left: $table-list-pad-side;
          padding-right: $table-list-pad-side;
        }
      }
    }
  }
  &.block-type{
    > ul{
      > li{
        flex-direction: column;
        margin-bottom: rem(20);
        .label{
          font-weight: $bold;
          margin-top: $block-label-margin-top;
          margin-bottom: $block-label-margin-bottom;
        }
      }
    }
  }
  &.narrow-type{
    padding-left: rem(135);
    padding-right: rem(135);
  }
  &.gray-bg-type{
    > ul {
      background-color: $table-gray-type-bg;
      > li{
        border-bottom: rem(1) solid $table-gray-type-border-color;
      }
    }
  }

}
