[class*="icon-"]{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon-share{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='prefix__share' transform='translate(-882 -4097.878)'%3E%3Cpath id='prefix__Path' d='M0 0H40V40H0z' transform='translate(882 4097.878)' style='fill:transparent'/%3E%3Cpath id='prefix__Icon' d='M24.925 33.1a4.857 4.857 0 0 1-4.852-4.852 4.636 4.636 0 0 1 .133-1.08L8.375 20.256a4.985 4.985 0 1 1 0-7.279l11.714-6.828a5.557 5.557 0 0 1-.149-1.164 5.012 5.012 0 1 1 1.595 3.639l-11.714 6.83a5.533 5.533 0 0 1 .149 1.162 5.517 5.517 0 0 1-.149 1.164l11.847 6.895a4.845 4.845 0 1 1 3.257 8.425zm0-6.48a1.662 1.662 0 1 0 1.661 1.662 1.664 1.664 0 0 0-1.661-1.663zM4.985 14.955a1.661 1.661 0 1 0 1.662 1.661 1.663 1.663 0 0 0-1.662-1.661zm19.94-11.631a1.662 1.662 0 1 0 1.661 1.662 1.664 1.664 0 0 0-1.661-1.662z' transform='translate(886.984 4101.322)' style='fill:%23333333'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: rem(40);
  height: rem(40);
}
.icon-person-add{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='prefix__person_add' transform='translate(-168 -4098.102)'%3E%3Cpath id='prsefix__Path' d='M0 0H40V40H0z' transform='translate(168 4098.102)' style='fill:transparent'/%3E%3Cpath id='prefix__Icon' d='M37 27H10.09v-3.375c0-1.383.875-3.382 5.044-5.06a24.907 24.907 0 0 1 8.411-1.691 24.908 24.908 0 0 1 8.412 1.691C36.125 20.243 37 22.243 37 23.625V27zm-13.455-6.751c-4.5 0-9.723 2.167-10.09 3.377h20.182c-.337-1.209-5.556-3.377-10.092-3.377zM8.409 18.562H5.046V13.5H0v-3.375h5.046V5.061h3.363v5.064h5.046V13.5H8.409v5.062zM23.545 13.5a6.75 6.75 0 1 1 6.728-6.75 6.745 6.745 0 0 1-6.728 6.75zm0-10.125A3.375 3.375 0 1 0 26.91 6.75a3.373 3.373 0 0 0-3.365-3.375z' transform='translate(170 4105.102)' style='fill:%23333333'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: rem(40);
  height: rem(40);
}
.icon-add{
  background-image: url(../images/icon_add.png);
  width: rem(24);
  height: rem(24);
}
.icon-close{
  background-image: url(../images/icon_close.png);
  width: rem(24);
  height: rem(24);
}
.icon-dropdown{
  background-image: url(../images/icon_dropdown.png);
  width: rem(13);
  height: rem(13);
}
.icon-arrow-left{
  background-image: url(../images/icon_arrow_left_filled.png);
  width:rem(24);
  height:rem(24);
}
.icon-arrow-right{
  background-image: url(../images/icon_arrow_right_filled.png);
  width:rem(24);
  height:rem(24);
}
.icon-exclamation{
  background-image: url(../images/icon_exclamation.png);
  width: rem(24);
  height: rem(24);
}

[class*="fa-"]{
  color: $icon-default;
  &.black{
    color: $font-color-default;
  }
}
.on{
  &[class*="fa-"], [class*="fa-"]{
    color: $red;
  }
}
.icon-reply{
  background-image: url(../images/icon_reply.png);
  background-repeat: no-repeat;
  width: rem(12);
  height: rem(12);
  background-size: contain;
}