.introduce{
  .tab-wrap{
    padding-top: rem(100);
  }
  .img-wrap{
    img{
      width: auto;
      margin: auto;
    }
    &.edu-card{
      text-align: center;
    }
    &.use-step{
      img{
        width: 100%;
      }
    }
    .description{
      color: $gray;
      font-size: rem(14);
    }
  }
  .lovechild-intro-wrap{
    img{
      // width: 100%;
    }
  }
  .treatment-intro-wrap{
    display: flex;
    .img-wrap{
      flex: 0 0 rem(300);
      img{
        width: 100%;
      }
    }
    .text-wrap{
      margin-left: rem(40);
      h3{
        margin-top: 0;
      }
      .default-text{
        margin-top: rem(20);
        &.fs-16{
          font-size: rem(16);
        }
      }
    }
  }

  .default-text{
    margin-top: rem(50);
    margin-bottom: rem(50);
    color: $font-color-light;
    font-size: rem(14);
    line-height: 2.3;
    .h3-text{
      display: block;
      font-size: rem(14);
      font-weight: $bold;
      color: $font-color-default;
    }
  }
  .voucher-info, .service-target{
    &.list-table{
      table{
        text-align: center;
        tbody{
          tr{
            td{
              &:nth-of-type(1){
                text-align: center;
              }
              &:nth-last-of-type(1){
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .service-operation{
    &.list-table{
      table{
        text-align: left;
        td, th{
          padding-left:rem(15);
          padding-right:rem(15);
          line-height: 1.4;
          em{
            font-weight: $bold;
          }
        }
      }
    }
  }
  .issuance-procedure{
    &.list-table{
      table{
        .next-step{
          font-size: rem(28);
          .fas{
            color: $font-color-light;
          }
        }
        .step{
          td{
            padding-top: rem(30);
            padding-bottom: rem(30);
            &:nth-of-type(1){
              background-color: $step-bg-now;
              color: #ffffff;
            }
            &:nth-of-type(2){
              background-color: $step-bg-default;
            }
            &:nth-of-type(3){
              background-color: $gray;
            }
          }
        }
        .bridge{
          td{
            padding-top: rem(5);
            padding-bottom: rem(5);
          }
        }
      }
    }
  }
}