section{
  .container{
    @include container-default;
    h2{
      margin-top: $container-top-pad;
      .sub-text{
        font-size: rem(14);
        em{
          color: $alert;
        }
      }
    }
    h3{
      margin-top: $container-top-pad;
      .sub-text{
        font-size: rem(14);
        em{
          color: $alert;
        }
      }
    }
    .voucher-service{
      margin-top: rem(100);
      .notice{
        font-size: rem(16);
        font-weight: $bold;
        color: $font-color-default;
        padding-bottom: rem(30);
        margin-bottom: rem(60);
        border-bottom: rem(2) solid $border-default;
      }
      >ul{
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        >li{
          flex: 0 1 30%;
          .title{
            font-size: rem(14);
            font-weight: $bold;
            color: $font-color-default;
          }
          p{
            margin-top: rem(20);
            line-height: 1.6;
            font-size: rem(14);
            color: $font-color-light;
          }
        }
      }
    }
    &.login{
      width: $container-width-md;
      padding-left: 0;
      padding-right: 0;
    }
    &.introduce{
      width: $container-width-md;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &:nth-last-of-type(1){
    padding-bottom: $container-bottom-pad;
    &.wide-type{
      padding-bottom: 0;
    }
  }
}

.border-wrap{
  border: 1px solid $border-default;
}
