.link-partition{
  >ul{
    @include display-flex;
    justify-content: center;
    >li{
      display: inline-block;
      position: relative;
      font-weight: $bold;
      padding-left: rem(10);
      padding-right: rem(10);
      border-right: rem(2) solid $border-light;
      &:last-child{
        border-right: 0;
      }
      > a{
        font-size: rem(12);
        color: $font-color-gray;
        .icon-dropdown{
          vertical-align: middle;
          margin: 0 rem(10);
        }
      }
    }
  }
}