.login-wrap{
  @include display-flex;
  // height: rem(520);
  h3{
    margin-top: rem(60);
    margin-bottom: rem(20);
    text-align: center;
  }
  .login-by-account{
    position: relative;
    flex: 0 0 rem(690);
    border-right: 1px solid $border-default;
    .tab-wrap{
      .tab-content{
        padding-top: rem(60);
        .form-group{
          >ul{
            >li{
              margin-bottom: rem(20);
              .input-wrap{
                height: rem(55);
              }
            }
          }
        }
      }
    }
    .link-partition{
      position: absolute;
      width: 100%;
      bottom: rem(30);
    }
  }
  .login-by-sns{
    flex: 1 1 auto;
    
    .header{
      text-align: center;
      padding: rem(20);
      vertical-align: middle;
      .icon-share{
        width: rem(24);
        height: rem(24);
        color: $font-color-gray;
        vertical-align: middle;
      }
    }
    >ul{
      padding: rem(40);
      li{
        margin-bottom: rem(40);
        .sns-login-btn{
          @include display-flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: rem(120);
          color: $font-color-default;
          > span{
            margin-top: rem(10);
            font-weight: $bold;
          }
          &.naver{
            background-color: $naver-color;
          }
          &.kakao{
            background-color: $kakao-color;
          }
        }
      }
    }
  }
  .find-id-wrap{
    flex: 0 0 rem(690);
    margin: 0 auto;
    .find-result{
      text-align: center;
      margin: rem(80) 0;
      font-weight: $bold;
    }
  }
}