.main-banner{
  display: flex;
  .img-wrap{
    position: relative;
    flex: 0 0 50%;
    img{
      width: 100%;
    }
    .link-to-service{
      display:inline-block;
      position: absolute;
      right: rem(150);
      top: rem(100);
      width: rem(677);
      height: rem(265);
      img{
        width: 100%;
      }
    }
  }
}
.main{
  h3.title{
    text-align: center;
  }
  .major-voucher-link{
    display: flex;
    justify-content: space-between;
    margin-top: rem(60);
    li{
      flex: 0 0 calc(100% / 3 - #{rem(16)});
      a{
        display: block;
        height: rem(220);
        padding: rem(40);
        box-shadow: 0 rem(4) rem(8) 0 rgba(0, 0, 0, 0.22);
        background-repeat: no-repeat;
        background-position: right rem(20) bottom rem(20);
        transition: all .2s;
        &:hover{
          transform: translateY(#{rem(-10)});
          box-shadow: rem(5) rem(20) rem(15) 0 rgba(0, 0, 0, 0.22);
          text-decoration: underline;
          color: $red;
          .voucher-name{
            color: $red;
          }
        }
        .voucher-name{
          position: relative;
          line-height: 1.7;
          color: $font-color-light;
          font-weight: $bold;
          transition: all .2s;
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            bottom: rem(-20);
            left: 0;
            width: rem(19);
            height: rem(7);
            background-image: url(../images/arrow_link.png);
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      &:nth-of-type(1){
        a{
          background-image: url(../images/main_voucher_img_01.png);
        }
      }
      &:nth-of-type(2){
        a{
          background-image: url(../images/main_voucher_img_02.png);
        }
      }
      &:nth-of-type(3){
        a{
          background-image: url(../images/main_voucher_img_03.png);
        }
      }
    }
  }
  .search-box{
    margin-top: rem(40);
    .input-group{
      .select-wrap{
        flex: 1 1 rem(200);
      }
      .input-wrap{
        flex: 1 1 rem(400);
      }
    }    
    .filter{
      display: flex;
      height: rem(110);
      margin-top: rem(40);
      margin-bottom: rem(40);
      button{
        background-color: #f4f4f4;
        color: darken(#f4f4f4, 40%);
        &.whole{
          flex: 0 0 rem(150);
          height: 100%;
          margin-right: rem(10);
        }
        &.on{
          background-color: #ffffff;
          color: $red;
          border: rem(1) solid $red;
        }
      }
      >ul{
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        >li{
          flex: 0 0 calc(100% / 8 - #{rem(5)});
          height: rem(50);
          margin-bottom: rem(10);
          button{
            height: 100%;
            width: 100%;
            
          }
        }
      }
    }
  }
  .intro-link{
    width: 80%;
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;
    >ul{
      display: flex;
      justify-content: space-between;
      li{
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: rem(200);
          height: rem(160);
          border: rem(2) solid $font-color-light;
          font-size: rem(16);
          font-weight: $bold;
          transition: all .2s;
          &:hover{
            transform: translateY(#{rem(-10)});
            box-shadow: rem(5) rem(5) rem(5) 0 rgba(0, 0, 0, 0.22);
            text-decoration: underline;
            background-color: $red;
            color: #ffffff;
            border: 0;
          }
        }
      }
    }
  }
  .boards{
    display: flex;
    justify-content: space-between;
    margin-top: rem(60);
    .notice-board{
      flex: 0 0 rem(400);
      a{
        justify-content: space-between;
      }
    }
    .faq-board{
      flex: 0 0 rem(400);
    }
    .table-topper{
      border-bottom: rem(1) solid $gray;
    }
    .border-list{
      width: rem(580);
      li{
        padding-top: rem(15);
        padding-bottom: rem(15);
        border-bottom: rem(1) solid $border-light;
        a{
          display: flex;
          font-size: rem(14);
          .title{
            flex-grow: 0;
            flex-basis: rem(450);
            @include ellipsis;
          }
          .date{
            flex: 0 0 rem(100);
            display: flex;
            justify-content: flex-end;
            color: $font-color-gray;
          }
          .catagory{
            flex: 0 0 rem(60);
            color: $font-color-gray;
          }
          &:hover{
            .title{
              color: $red;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
.video-info{
  height: rem(440);
  display: flex;
  align-items: center;
  .description{
    flex: 0 0 40%;
    .title{
      color: $alert;
      font-size: rem(24);
      font-weight: $bold;
      line-height: 1.7;
    }
    .sub-text{
      color: $font-color-light;
      font-size: rem(14);
      line-height: 1.7;
    }
  }
  .video-wrap{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
  }
}
.customer-center{
  text-align: center;
  padding-top: rem(5);
  padding-bottom: rem(5);
  .info{
    >li{
      display: inline-block;
      width: rem(300);
      border-right: rem(1) solid $font-color-default; 
      padding: 0 rem(20);
      &:nth-of-type(1){
        text-align: right;
      }
      &:nth-last-of-type(1){
        text-align: left;
        border-right: 0;
      }
    }
  }
}