@mixin container-default{
  width: $container-width;
  padding-left: rem(40);
  padding-right: rem(40);
  margin: auto;
}
@mixin display-flex{
  display: flex;
  display: -ms-flexbox;
}

@mixin appearance-none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}
@mixin placeholder{
  &::-webkit-input-placeholder{
    color: $placeholder-color;
  }
  &:-ms-input-placeholder{
    color: $placeholder-color;
  }
  &::placeholder{
    color: $placeholder-color;
  }
}

@mixin prefix-suffix{
  @include display-flex;
  .prefix, .center, .suffix{
    @include display-flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .center{
    justify-content: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}

@mixin ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin align-set{
  &.align-l{
    text-align: left;
  }
  &.align-r{
    text-align: right;
  }
}