section{
  
  &.modal{
    // height: 100%;
    // margin-bottom: 0;
    
    // .dimmer{
    //   position: fixed;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   background-color: rgba(0,0,0,0.3);
    //   z-index: 1;
    // }
    .container{
      // position: fixed;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // overflow: auto;
      // height: auto;
      width: auto;
      // border: $border-bold;
      // z-index: 2;
      // background-color: #ffffff;
      h2{
        @include prefix-suffix;
        margin-top: rem(40);
        margin-bottom: rem(40);
      }
      .h2-text{
        margin-top: rem(40);
        font-size: rem(14);
        font-weight: $bold;
        color: $font-color-default;
      }
      .notice{
        font-size: rem(16);
        color: $font-color-default;
      }
      .sub-text{
        font-size: rem(16);
        color: $font-color-gray;
        line-height: 1.6;
      }
      .form-group{
        &.table-type{
          >ul{
            >li{
              .label{
                flex: 0 0 rem(100);
              }
            }
          }
        }
      }
    }
    a{
      &.close-modal{
        top: rem(15);
        right: rem(15);
      }
    }
  }
}