.top-nav{
  // @include display-flex;
  position: sticky;
  top: 0;
  height: $top-nav-height;
  width: 100%;
  min-width: $container-width;
  background-color: $red;
  border-bottom: 1px solid $border-light;
  z-index: 2;
  h1{
    position: absolute;
    left: 0;
    @include display-flex;
    flex: 1 1 rem(200);
    padding-left: $top-nav-side-pad;
  }
  .menu-list{
    @include display-flex;
    height: $top-nav-height;
    width: calc(#{$container-width } - #{rem(100)});
    margin: 0 auto;
    padding-left: rem(50);
    padding-right: rem(50);
    flex: 0 1 $container-width;
    align-items: center;
    justify-content: flex-start;
    >ul {
      @include display-flex;
      width: 100%;
      justify-content: space-between;
      >li {
        @include display-flex;
        justify-content: flex-start;
        flex: 1 1 auto;
        a{
          font-size: rem(14);
          color: lighten(#ffffff, 50%);
          font-weight: $bold;
          &.on{
            color: #ffffff;
          }
        }
      }
    }
  }
  .my-page-btns{
    position: absolute;
    right: 0;
    top: rem(30);
    // transform: translateY(-50%);
    flex: 1 0 rem(300);
    padding-right: $top-nav-side-pad;
    @include display-flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
    >ul {
      @include display-flex;
      justify-content: flex-end;
      >li {
        display: inline-block;
        position: relative;
        font-weight: $bold;
        padding-left: rem(10);
        padding-right: rem(10);
        border-right: rem(2) solid $border-light;
        &:last-child{
          border-right: 0;
        }
        > a{
          font-size: rem(12);
          color: #ffffff;
          .icon-dropdown{
            vertical-align: middle;
            margin: 0 rem(10);
          }
        }
      }
    }
  }
}
.all-menu{
  position: fixed;
  left: 0;
  right: 0;
  top: $top-nav-height;
  height: 0;
  overflow: hidden;
  background-color: $red;
  z-index: 1;
  .container{
    @include container-default;
    position: relative;
    height: 100%;
    
    a{
      font-size: rem(14);
      color: lighten($red, 10%);
      &.on{
        border-bottom: rem(1) solid #ffffff;
      }
      &.on, &:hover{
        color: #ffffff;
      }
    }
    >ul{
      position: absolute;
      top: rem(40);
      li{
        margin-bottom: rem(30);
      }
      &.vucher-list{
        left: rem(280);
      }
      &.intro-list{
        left: rem(730);
      }
      &.community-list{
        left: rem(880);
      }
      &.customer-list{
        left: rem(1030);
      }
    }
  }
}