.paging{
  margin-top: rem(30);
  margin-bottom: rem(30);
  >ul{
    @include display-flex;
    justify-content: center;
    >li{
      button{
        display: inline-block;
        background-color: transparent;
        border: 1px solid $btn-gray-border-color;
        color: $font-color-gray;
        font-size: rem(12);
        min-width: rem(18);
        padding: rem(2) rem(5); 
        margin: 0 rem(5);
        text-align: center;
        &:hover, &.on{
          color: $red;
          border-color: $red;
        }
        &.first, &.prev, &.next, &.last{
          padding: rem(2) rem(10);
        }
      }
      &:nth-of-type(1), &:nth-last-of-type(1){
        a{
          padding: rem(2) rem(5);
        }
      }
    }
  }
}