section{
  &.popup{
    height: 100%;
    margin-bottom: 0;
    .container{
      overflow: auto;
      height: 100%;
      width:auto;
      border: $border-bold;
      h2{
        margin-top: rem(40);
        margin-bottom: rem(40);
      }
      .h2-text{
        margin-top: rem(40);
        font-size: rem(14);
        font-weight: $bold;
        color: $font-color-default;
      }
      .notice{
        font-size: rem(16);
        color: $font-color-default;
      }
      .sub-text{
        font-size: rem(16);
        color: $font-color-gray;
        line-height: 1.6;
      }
      .form-group{
        &.table-type{
          >ul{
            >li{
              .label{
                flex: 0 1 rem(100);
              }
            }
          }
        }
      }
    }
    &.has-aside{
      display: flex;
      >.container{
        flex: 1 0 rem(700);
        border: 0;
        background-color: #ffffff;
        z-index: 1;
        &::-webkit-scrollbar {
          width: rem(5);
        }
        &::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
        &::-webkit-scrollbar-thumb {
          background: #dddddd; 
        }
      }
      aside{
        flex: 0 0 rem(500);
        background-color: #fafafa;
        .container{
          padding-left: rem(40);
          padding-right: rem(40);
          margin: auto;
          flex: 1 0 rem(700);
          border: 0;
          &::-webkit-scrollbar {
            width: rem(5);
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
          &::-webkit-scrollbar-thumb {
            background: #dddddd; 
          }
        }
      }
    }
  }
}