.steps{
  margin-top: rem(30);
  >ul{
    @include display-flex;
    overflow: hidden;
    >li{
      display: flex;
      position: relative;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      height: rem(100);
      background-color: $step-bg-default;
      color: $step-font-color-default;
      font-weight: $bold;
      &:after{
        content: "";
        display: inline-block;
        position: absolute;
        right: rem(-50);
        top: 0;
        width: rem(55);
        height: rem(100);
        background-image: url(../images/step_arrow_default.png);
        background-position: right;
        background-repeat: no-repeat;
        z-index: 1;
      }
      &:last-child{
        &:after{
          content: none;
        }
      }
      &.now{
        background-color: $step-bg-now;
        color: $step-font-color-now;
        &:after{
          background-image: url(../images/step_arrow_now.png);
        }
      }
      &.passby{
        background-color: $step-bg-passby;
        color: $step-font-color-passby;
        &:after{
          background-image: url(../images/step_arrow_passby.png);
        }
      }
    }
  }
}