.list-table{
  table{
    width: 100%;
    text-align: center;
    td, th{
      &.align-l{
        text-align: left;
      }
      &.align-r{
        text-align: right;
      }
      em{
        font-weight: $bold;
      }
      .emphas{
        color: $emphasis-color;
      }
    }
    thead{
      th{
        padding: rem(15) 0;
        color: #ffffff;
        font-size: rem(14);
        font-weight: $bold;
      }
    }
    tbody{
      tr{
        td, th{
          padding-top: rem(20);
          padding-bottom: rem(20);
          border-bottom: rem(1) solid $border-default;
          &.bg-gray{

          }
          .adress-list{
            li{
              margin-top: rem(5);
              margin-bottom: rem(5);
              .tag{
                display: inline-block;
                width: rem(45);
                padding: rem(5) 0;
                font-size: rem(12);
                text-align: center;
                color: #ffffff;
                &.sky-blue{
                  background-color: $sky-blue;
                }
                &.gray{
                  background-color: $gray;
                }
              }
            }
          }
          .btn-link{
            color: $font-color-gray;
            font-size: rem(13);
            &:hover{
              color: $font-color-default;
              font-weight: $bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .no-result{
      text-align: center;
      td{
        padding: rem(30);
      }
    }
  }
  &.thead-gray{
    table{
      th{
        background-color: $thead-gray-bg;
        color: $font-color-default;
      }
    }
  }
  &.th-ahead-type{
    table{
      border-top: $table-border-topper;
      td, th{
        @include align-set;
        font-size: rem(14);
        text-align: left;
        vertical-align: top;
        line-height: 1.4;
      }
      th{
        padding-top: rem(20);
        padding-bottom: rem(20);
        border-bottom: rem(1) solid $border-default;
        font-weight: $bold;
      }
      td{
        color: $font-color-light;
      }
    }
  }
  &.bg-gray-type{
    table{
      background-color: $table-gray-type-bg;
      th, td{
        border-bottom: rem(1) solid #ffffff;
        padding-left: rem(20);
        padding-right: rem(20);
        .input-wrap, .select-wrap{
          height: rem(40*0.8);
        }
      }
    }
  }
}
.table-topper{
  @include prefix-suffix;
  .label{
    font-size: rem(14);
    font-weight: $bold;
  }
  .checkbox-group{
    margin-left: rem(40);
    >ul{
      >li{
        display: inline-block;
        margin-right: rem(20);
        .checkbox-wrap{
          input[type="checkbox"]:checked + label{
            color: $step-bg-now;
          }
          label{
            font-size: rem(13);
          }
        }
      }
    }
  }
  button{
    display: inline-block;
    padding-top: rem(5);
    padding-bottom: rem(5);
    padding-left: rem(10);
    padding-right: rem(10);
    min-width: rem(100);
    font-size: rem(13);
    background-color: $btn-none-active;
    color: $font-color-gray;
    &.on{
      background-color: transparent;
      border: rem(2) solid $btn-default-border-color;
      color: $font-color-default;
    }
  }
  .sort{
    >ul{
      display: inline-block;
      >li{
        display: inline-block;
        margin-left: rem(5);
        &:nth-of-type(1){
          margin-left: 0;
        }
        
      }
    }
  }
}
.accordion-type{
  td{
    
  }
  .toggle{
    cursor: pointer;
    td{
      text-align: center;
      .title{
        text-align: left;
      }
    }
    &.on{
      .title{
        color: $red;
        text-decoration: underline;
      }
    }
  }
  .content{
    td{
      display: none;
      min-height: rem(200);
      padding: rem(40);
      background-color: $tab-default-bg;
      color: $font-color-default;
      font-size: rem(14);
      line-height: 1.8;
    }
  }
}
.thead-dark{
  table{
    thead{
      tr{
        th{
          background-color: $thead-dark-bg;
        }
      }
    }
  }
}

.thead-primary{
  table{
    thead{
      tr{
        th{
          background-color: $thead-primary-bg;
          color: #ffffff;
        }
      }
    }
  }
}
.border-top-primary{
  border-top: 1px solid $red;
  thead{
    border-bottom: rem(1) solid $border-default;
    tr{
      th{
        color: $font-color-default;
      }
    }
  }
}