.tab-wrap{
  .tab{
    >ul{
      @include display-flex;
      >li{
        flex: 1 1 50%;
        >a{
          @include display-flex;
          justify-content: center;
          align-items: center;
          height: $tab-height;
          background-color: $tab-default-bg;
          border: rem(1) solid $tab-off-border-color;
          color: $tab-default-color;
          font-size: $tab-default-font-size;
          &.on{
            background-color: #ffffff;
            border: rem(1) solid $font-color-default;
            color: $font-color-default;
            font-weight: $bold;
          }
        }
      }
    }
    &.sm{
      padding: 0 rem(20);
      >ul{
        >li{
          >a{
            height: $tab-height-sm;
            font-size: $tab-sm-font-size;
          }
        }
      }
    }
  }
  &.find-id{
    padding-top: rem(100);
    margin-left: rem(100);
    margin-right: rem(100);
    .tab{
      >ul{
        >li{
          >a{
            font-size: rem(16);
            color: $font-color-gray;
            background-color: $tab-default-bg;
            &.on{
              color: $font-color-default;
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}
.tab-border-type-wrap{
  padding-left: rem(100);
  padding-right: rem(100);
  .tab{
    >ul{
      text-align: center;
      >li{
        display: inline-block;
        text-align: center;
        >a{
          height: $tab-height;
          padding-bottom: rem(5);
          margin-left: rem(30);
          margin-right: rem(30);
          color: $tab-default-color;
          font-size: $tab-default-font-size;
          &.on{
            border-bottom: rem(3) solid $font-color-default;
            color: $font-color-default;
            font-weight: $bold;
          }
        }
      }
    }
    &.sm{
      padding: 0 rem(20);
      >ul{
        >li{
          >a{
            height: $tab-height-sm;
            font-size: $tab-sm-font-size;
          }
        }
      }
    }
  }
}