.tag{
  display: inline-block;
  color: $btn-default-border-color;
  border: 1px solid $btn-default-border-color;
  border-radius: rem(20);
  font-size: rem(13);
  padding-top: rem(2);
  padding-bottom: rem(2);
  padding-left: rem(8);
  padding-right: rem(8);
  &.tag-green{
    border-color: #50ae23;
    color: #50ae23
  }
  &.tag-yellow{
    border-color: #d67900;
    color: #d67900
  }
}