.terms{
  .terms-to-read{
    height: rem(150);
    margin: rem(10) 0 rem(50);
    border: 1px solid $border-default;
    overflow-y: auto;
    padding: rem(15);
  }
  .label-sub{
    em{
      color: $emphasis-color;
    }
  }
  &.apply-member{
    margin-top: rem(100);
  }
}