body, html {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

input, select, button, textarea {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

html, body {
  width: 100%;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}

@media (max-width: 374px) {
  html, body {
    font-size: 14px;
  }
}

a:hover {
  text-decoration: none;
}

h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon {
  vertical-align: text-bottom;
}

table.table {
  table-layout: auto;
}

table.table th {
  word-break: keep-all;
}

button {
  background-color: transparent;
}

textarea {
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}

.display-none {
  font-size: 0;
  display: none;
}

.hidden {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.w-50 {
  width: 3.125rem;
}

.h-50 {
  height: 3.125rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.w-100 {
  width: 6.25rem;
}

.h-100 {
  height: 6.25rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.pt-30 {
  padding-top: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.w-150 {
  width: 9.375rem;
}

.h-150 {
  height: 9.375rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.w-200 {
  width: 12.5rem;
}

.h-200 {
  height: 12.5rem;
}

.ml-50 {
  margin-left: 3.125rem;
}

.mr-50 {
  margin-right: 3.125rem;
}

.mt-50 {
  margin-top: 3.125rem;
}

.mb-50 {
  margin-bottom: 3.125rem;
}

.pl-50 {
  padding-left: 3.125rem;
}

.pr-50 {
  padding-right: 3.125rem;
}

.pt-50 {
  padding-top: 3.125rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}

.w-250 {
  width: 15.625rem;
}

.h-250 {
  height: 15.625rem;
}

.ml-60 {
  margin-left: 3.75rem;
}

.mr-60 {
  margin-right: 3.75rem;
}

.mt-60 {
  margin-top: 3.75rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.pl-60 {
  padding-left: 3.75rem;
}

.pr-60 {
  padding-right: 3.75rem;
}

.pt-60 {
  padding-top: 3.75rem;
}

.pb-60 {
  padding-bottom: 3.75rem;
}

.w-300 {
  width: 18.75rem;
}

.h-300 {
  height: 18.75rem;
}

.ml-70 {
  margin-left: 4.375rem;
}

.mr-70 {
  margin-right: 4.375rem;
}

.mt-70 {
  margin-top: 4.375rem;
}

.mb-70 {
  margin-bottom: 4.375rem;
}

.pl-70 {
  padding-left: 4.375rem;
}

.pr-70 {
  padding-right: 4.375rem;
}

.pt-70 {
  padding-top: 4.375rem;
}

.pb-70 {
  padding-bottom: 4.375rem;
}

.w-350 {
  width: 21.875rem;
}

.h-350 {
  height: 21.875rem;
}

.ml-80 {
  margin-left: 5rem;
}

.mr-80 {
  margin-right: 5rem;
}

.mt-80 {
  margin-top: 5rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.pl-80 {
  padding-left: 5rem;
}

.pr-80 {
  padding-right: 5rem;
}

.pt-80 {
  padding-top: 5rem;
}

.pb-80 {
  padding-bottom: 5rem;
}

.w-400 {
  width: 25rem;
}

.h-400 {
  height: 25rem;
}

.ml-90 {
  margin-left: 5.625rem;
}

.mr-90 {
  margin-right: 5.625rem;
}

.mt-90 {
  margin-top: 5.625rem;
}

.mb-90 {
  margin-bottom: 5.625rem;
}

.pl-90 {
  padding-left: 5.625rem;
}

.pr-90 {
  padding-right: 5.625rem;
}

.pt-90 {
  padding-top: 5.625rem;
}

.pb-90 {
  padding-bottom: 5.625rem;
}

.w-450 {
  width: 28.125rem;
}

.h-450 {
  height: 28.125rem;
}

.ml-100 {
  margin-left: 6.25rem;
}

.mr-100 {
  margin-right: 6.25rem;
}

.mt-100 {
  margin-top: 6.25rem;
}

.mb-100 {
  margin-bottom: 6.25rem;
}

.pl-100 {
  padding-left: 6.25rem;
}

.pr-100 {
  padding-right: 6.25rem;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.w-500 {
  width: 31.25rem;
}

.h-500 {
  height: 31.25rem;
}

.message-10 {
  font-size: 0.625rem;
  line-height: 1.4;
}

.message-12 {
  font-size: 0.75rem;
  line-height: 1.4;
}

.message-14 {
  font-size: 0.875rem;
  line-height: 1.4;
}

.message-16 {
  font-size: 1rem;
  line-height: 1.4;
}

.message-18 {
  font-size: 1.125rem;
  line-height: 1.4;
}

.message-20 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.message-22 {
  font-size: 1.375rem;
  line-height: 1.4;
}

.message-24 {
  font-size: 1.5rem;
  line-height: 1.4;
}

.message-26 {
  font-size: 1.625rem;
  line-height: 1.4;
}

.message-28 {
  font-size: 1.75rem;
  line-height: 1.4;
}

.message-30 {
  font-size: 1.875rem;
  line-height: 1.4;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.fc-gray {
  color: #888888;
}

.fc-red {
  color: #ea5a5c;
}

.fc-green {
  color: #1c9e40;
}

.fc-brown {
  color: #695356;
}

.fw-bold {
  font-weight: 600;
}

.bg-gray {
  background-color: #666666;
}

.bg-pink {
  background-color: #fbe2e2;
}

.img-wrap img {
  width: 100%;
}

section .container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

section .container .header-text {
  line-height: 1.8;
}

section.has-gnb {
  padding-bottom: calc(3.75rem + 2.5rem);
}

.top-header {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  background-color: #ea5a5c;
  height: 3.4375rem;
  font-weight: 600;
  color: #ffffff;
}

.top-header .prefix, .top-header .center, .top-header .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-header .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-header .prefix, .top-header .suffix {
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.top-header.bg-gray {
  background-color: #666666;
}

.top-header.bg-white {
  background-color: #ffffff;
  color: #333333;
}

.top-header.bg-white .fas {
  color: #333333;
}

.top-header .fas {
  color: #ffffff;
}

.top-header .prefix {
  padding-left: 0.9375rem;
}

.top-header .suffix {
  padding-right: 0.9375rem;
}

.gnb {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 0.0625rem solid #dddddd;
  height: 3.75rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ebebeb), to(#e1e1e1));
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb 60%, #e1e1e1);
  z-index: 1;
}

.gnb > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gnb > ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.gnb > ul li button.on {
  color: #ea5a5c;
}

.all-menu {
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #db7b65;
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.all-menu .close-btn {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.all-menu .menu-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 10%;
  width: 100%;
}

.all-menu .menu-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 9.72222vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-menu .menu-list li a {
  opacity: 0.8;
  font-size: 2.5vh;
  font-weight: 600;
  color: #ffffff;
}

.all-menu .menu-list li a.on {
  opacity: 1;
}

.all-menu .menu-footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  height: 9.72222vh;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-menu .menu-footer a {
  font-size: 2.5vh;
}

[class*="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-share {
  background-image: url(../images/icon_share.png);
  width: 2.5rem;
  height: 2.5rem;
}

.icon-person-add {
  background-image: url(../images/icon-person-add-m.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-add {
  background-image: url(../images/icon_add.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-close {
  background-image: url(../images/icon_close.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-dropdown {
  background-image: url(../images/icon_dropdown.png);
  width: 0.8125rem;
  height: 0.8125rem;
}

.icon-arrow-left {
  background-image: url(../images/icon_arrow_left_filled.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-arrow-right {
  background-image: url(../images/icon_arrow_right_filled.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-exclamation {
  background-image: url(../images/icon_exclamation.png);
  width: 1.5rem;
  height: 1.5rem;
}

.icon-naver {
  background-image: url(../images/logo);
}

[class*="fa-"] {
  color: #eeeeee;
}

[class*="fa-"].black {
  color: #333333;
}

[class*="fa-"].gray {
  color: #888888;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  word-break: keep-all;
}

.btn i {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.btn.btn-default {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  height: 2.5rem;
}

.btn.btn-default.btn-primary {
  background-color: #ea5a5c;
  color: #ffffff;
}

.btn.btn-default.btn-gray {
  background-color: #dddddd;
}

.btn.btn-default.btn-brown {
  color: #ffffff;
  background-color: #695356;
}

.btn.btn-wide {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
}

.btn.btn-wide.btn-primary {
  background-color: #ea5a5c;
  color: #ffffff;
}

.btn.btn-wide.btn-gray {
  background-color: #dddddd;
}

.btn.btn-wide.btn-black {
  color: #ffffff;
  background-color: #000000;
}

.btn.btn-wide.btn-brown {
  color: #ffffff;
  background-color: #695356;
}

.btn.btn-wide.btn-border {
  border-radius: 0.25rem;
}

.btn.btn-wide.btn-border.btn-gray {
  background-color: transparent;
  border: 0.0625rem solid #dddddd;
  border-radius: 0.25rem;
}

.btn.btn-border {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  height: 2.5rem;
}

.btn.btn-border.btn-gray {
  background-color: transparent;
  border: 0.0625rem solid #dddddd;
}

.btn.btn-sm {
  display: inline-block;
  height: 1.875rem;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: auto;
}

input[type="text"].text-input, input[type="password"].text-input, input[type="number"].text-input, textarea.text-input {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  color: #333333;
  border: 0;
}

input[type="text"].text-input::-webkit-input-placeholder, input[type="password"].text-input::-webkit-input-placeholder, input[type="number"].text-input::-webkit-input-placeholder, textarea.text-input::-webkit-input-placeholder {
  color: #c8c8c8;
}

input[type="text"].text-input:-ms-input-placeholder, input[type="password"].text-input:-ms-input-placeholder, input[type="number"].text-input:-ms-input-placeholder, textarea.text-input:-ms-input-placeholder {
  color: #c8c8c8;
}

input[type="text"].text-input::-ms-input-placeholder, input[type="password"].text-input::-ms-input-placeholder, input[type="number"].text-input::-ms-input-placeholder, textarea.text-input::-ms-input-placeholder {
  color: #c8c8c8;
}

input[type="text"].text-input::placeholder, input[type="password"].text-input::placeholder, input[type="number"].text-input::placeholder, textarea.text-input::placeholder {
  color: #c8c8c8;
}

select.select-input {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0.625rem;
  padding-right: calc(0.625rem + 1.875rem);
  color: #333333;
  border: 0;
  background-image: url(../images/icon_select_arrow.png);
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: right 0.625rem center;
}

select.select-input::-ms-expand {
  display: none;
}

input[type="text"], input[type="password"], input[type="number"], select,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
}

.textarea-wrap {
  position: relative;
  min-width: 7.5rem;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.textarea-wrap textarea {
  resize: none;
  height: 100%;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.875rem;
  color: #333333;
}

.textarea-wrap textarea::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.textarea-wrap textarea:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.textarea-wrap textarea::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.textarea-wrap textarea::placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
}

.input-wrap, .select-wrap {
  position: relative;
  height: 2.5rem;
  min-width: 7.5rem;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.input-wrap.sm, .select-wrap.sm {
  width: 6.25rem;
}

.input-wrap.lg, .select-wrap.lg {
  width: 18.75rem;
}

.input-wrap input[type="text"], .input-wrap input[type="password"], .input-wrap input[type="number"], .input-wrap select, .select-wrap input[type="text"], .select-wrap input[type="password"], .select-wrap input[type="number"], .select-wrap select {
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  color: #333333;
}

.input-wrap input[type="text"]::-webkit-input-placeholder, .input-wrap input[type="password"]::-webkit-input-placeholder, .input-wrap input[type="number"]::-webkit-input-placeholder, .input-wrap select::-webkit-input-placeholder, .select-wrap input[type="text"]::-webkit-input-placeholder, .select-wrap input[type="password"]::-webkit-input-placeholder, .select-wrap input[type="number"]::-webkit-input-placeholder, .select-wrap select::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap input[type="text"]:-ms-input-placeholder, .input-wrap input[type="password"]:-ms-input-placeholder, .input-wrap input[type="number"]:-ms-input-placeholder, .input-wrap select:-ms-input-placeholder, .select-wrap input[type="text"]:-ms-input-placeholder, .select-wrap input[type="password"]:-ms-input-placeholder, .select-wrap input[type="number"]:-ms-input-placeholder, .select-wrap select:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap input[type="text"]::-ms-input-placeholder, .input-wrap input[type="password"]::-ms-input-placeholder, .input-wrap input[type="number"]::-ms-input-placeholder, .input-wrap select::-ms-input-placeholder, .select-wrap input[type="text"]::-ms-input-placeholder, .select-wrap input[type="password"]::-ms-input-placeholder, .select-wrap input[type="number"]::-ms-input-placeholder, .select-wrap select::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap input[type="text"]::placeholder, .input-wrap input[type="password"]::placeholder, .input-wrap input[type="number"]::placeholder, .input-wrap select::placeholder, .select-wrap input[type="text"]::placeholder, .select-wrap input[type="password"]::placeholder, .select-wrap input[type="number"]::placeholder, .select-wrap select::placeholder {
  font-size: 0.875rem;
  color: #c8c8c8;
  font-weight: 600;
}

.input-wrap [class*="icon-"], .select-wrap [class*="icon-"] {
  position: absolute;
  right: 0;
}

.input-wrap.required, .select-wrap.required {
  padding-right: 1.875rem;
}

.input-wrap.required .icon-checked, .select-wrap.required .icon-checked {
  display: inline-block;
  top: 50%;
  right: 0rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/icon_invalid.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
}

.input-wrap.required.valid .icon-checked, .select-wrap.required.valid .icon-checked {
  background-image: url(../images/icon_valid.png);
}

.select-wrap {
  position: relative;
}

.select-wrap:before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 1rem;
  width: 1.625rem;
  top: 50%;
  right: 0.625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon_select_arrow.png);
  background-size: contain;
}

.input-group {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.input-group.has-unit .unit {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.input-group.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.input-group.flex-type {
  width: 100%;
}

.input-group.flex-type .input-wrap, .input-group.flex-type .select-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 6.25rem;
          flex: 1 1 6.25rem;
  min-width: unset;
}

.input-group .input-wrap + .btn {
  margin-left: 0.625rem;
}

.input-group .radio-wrap {
  margin-right: 1.25rem;
}

.input-group .btn {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.dash {
  display: inline-block;
  margin: 0.625rem;
}

.radio-wrap input[type="radio"] {
  font-size: 0;
  width: 0;
  height: 0;
}

.radio-wrap input[type="radio"] + label {
  background-image: url(../images/icon_radio_off.png);
}

.radio-wrap input[type="radio"]:checked + label {
  background-image: url(../images/icon_radio_on.png);
}

.radio-wrap label {
  display: inline-block;
  padding-left: 1.875rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0.8125rem;
  vertical-align: middle;
  white-space: nowrap;
}

.form-group.block-type li {
  padding-top: 0.625rem;
}

.form-group.block-type li label {
  display: block;
  margin-bottom: 0.625rem;
}

.form-group.block-type li .btn {
  margin-top: 0.625rem;
}

.form-group.block-type li .notice-text {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.form-group label {
  font-weight: 600;
}

.form-group .fc-red {
  color: #ea5a5c;
}

.form-group .asterisk:after {
  content: '*';
  vertical-align: super;
  color: #d60000;
}

.paging {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.paging > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paging > ul > li button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 0.0625rem solid #dddddd;
  color: #888888;
  font-size: 0.75rem;
  min-width: 1.5625rem;
  height: 1.5625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: 0 0.3125rem;
  text-align: center;
  word-break: keep-all;
}

.paging > ul > li button:hover, .paging > ul > li button.on {
  color: #ea5a5c;
  border-color: #ea5a5c;
}

.paging > ul > li:nth-of-type(1) a, .paging > ul > li:nth-last-of-type(1) a {
  padding: 0.3125rem 0.625rem;
}

.border-list {
  border-top: 0.125rem solid #111111;
}

.border-list .table-body ul li {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  color: #666666;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.border-list .table-body ul li .prefix, .border-list .table-body ul li .center, .border-list .table-body ul li .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border-list .table-body ul li .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border-list .table-body ul li .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tab-wrap .tab > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.tab-wrap .tab > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.tab-wrap .tab > ul > li > a {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.125rem;
  background-color: #f8f8f8;
  border: 0.0625rem solid #eeeeee;
  color: #aaaaaa;
  font-size: 1rem;
}

.tab-wrap .tab > ul > li > a.on {
  background-color: #ffffff;
  border: 0.0625rem solid #333333;
  color: #333333;
  font-weight: 600;
}

.tab-wrap .tab.sm {
  padding: 0 0.9375rem;
}

.tab-wrap .tab.sm > ul > li > a {
  height: 2.5rem;
  font-size: 0.875rem;
}

.tab-wrap.find-id {
  padding-top: 6.25rem;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

.tab-wrap.find-id .tab > ul > li > a {
  font-size: 1rem;
  color: #888888;
  background-color: #f8f8f8;
}

.tab-wrap.find-id .tab > ul > li > a.on {
  color: #333333;
  background-color: #ffffff;
}

.tab-wrap.scroll-x {
  position: relative;
}

.tab-wrap.scroll-x .tab {
  overflow-x: auto;
}

.tab-wrap.scroll-x .tab > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.tab-border-type-wrap {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.tab-border-type-wrap .tab > ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.tab-border-type-wrap .tab > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab-border-type-wrap .tab > ul > li > a {
  color: #aaaaaa;
  font-size: 1rem;
}

.tab-border-type-wrap .tab > ul > li > a.on {
  border-bottom: 0.1875rem solid #333333;
  color: #333333;
  font-weight: 600;
}

.tab-border-type-wrap .tab.sm {
  padding: 0 1.25rem;
}

.tab-border-type-wrap .tab.sm > ul > li > a {
  height: 2.5rem;
  font-size: 0.875rem;
}

.scroll-x-tab {
  position: relative;
}

.scroll-x-tab:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 3.125rem;
  position: absolute;
  right: -0.625rem;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(60%, #ffffff));
  background: linear-gradient(0.25turn, rgba(255, 255, 255, 0) 0%, #ffffff 60%);
}

.scroll-x-tab > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow-x: auto;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.scroll-x-tab > ul li {
  display: inline-block;
  margin-right: 0.625rem;
}

.scroll-x-tab > ul li .btn.on {
  color: #ea5a5c;
  border: 0.0625rem solid #ea5a5c;
}

.scroll-x-tab::-webkit-scrollbar {
  height: 0.3125rem;
}

.tag {
  display: inline-block;
  color: #333333;
  border: 0.0625rem solid #333333;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tag.tag-green {
  border-color: #50ae23;
  color: #50ae23;
}

.tag.tag-yellow {
  border-color: #d67900;
  color: #d67900;
}

.search-box .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-box .input-group .input-wrap, .search-box .input-group .select-wrap {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-box .input-group .input-wrap.col-3, .search-box .input-group .select-wrap.col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.rating {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating > span {
  display: inline-block;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.rating > span.on i {
  color: #ea5a5c;
}

.comment-write-wrap .textarea-wrap {
  height: 5rem;
}

.comment-list .comment-header {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.9375rem;
  border-bottom: 0.125rem solid #111111;
}

.comment-list > ul > li {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.comment-list > ul > li .comment-body .writer {
  display: block;
  color: #666666;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.comment-list > ul > li .comment-body .comment {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.comment-list > ul > li .comment-body .comment .rating {
  margin-top: 0.625rem;
  display: inline-block;
}

.comment-list > ul > li .comment-body .comment .comment-title {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 600;
}

.comment-list > ul > li .comment-body .comment .date {
  font-size: 0.75rem;
  color: #666666;
  margin-top: 0.625rem;
}

.comment-list > ul > li .comment-body .comment p {
  line-height: 1.8;
  font-size: 0.875rem;
  color: #666666;
  margin-top: 0;
}

.comment-list > ul > li .comment-btn {
  width: 100%;
  text-align: right;
}

.comment-list > ul > li .comment-btn .btn {
  display: inline-block;
}

.comment-list > ul > li .reply-list {
  margin-top: 1.25rem;
  padding-left: 1.875rem;
  background-color: #fafafa;
  border-top: 0.0625rem solid #dddddd;
  border-bottom: 0.0625rem solid #dddddd;
}

.comment-list > ul > li .reply-list > li {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 0.625rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.comment-list > ul > li .reply-list > li:last-child {
  border-bottom: 0;
}

.comment-list > ul > li .reply-list > li .reply-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.comment-list > ul > li .reply-list > li .reply-body .fas {
  color: #999999;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.comment-list > ul > li .reply-list > li .reply-body .writer {
  display: block;
  color: #666666;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.comment-list > ul > li .reply-list > li .reply-body .date {
  font-size: 0.75rem;
  color: #666666;
  margin-top: 0.625rem;
}

.comment-list > ul > li .reply-list > li .reply-body p {
  line-height: 1.8;
  font-size: 0.875rem;
  color: #666666;
  margin-top: 0.3125rem;
}

.popup {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  background-color: #ffffff;
}

.popup .top-header h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 0.9375rem;
  font-size: 1.125rem;
}

section.modal {
  width: 100%;
}

section.modal .container {
  width: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

section.modal .container h3 {
  font-size: 1rem;
  margin-top: 0;
}

section.modal .container .notice {
  font-size: 1rem;
  color: #333333;
}

section.modal .container .sub-text {
  font-size: 1rem;
  color: #888888;
  line-height: 1.6;
}

section.modal .container .form-group.table-type > ul > li .label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

section.modal a.close-modal {
  top: -0.9375rem;
  right: -0.9375rem;
}

.main h3 {
  margin-top: 3.75rem;
  text-align: center;
}

.main .main-banner .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13.125rem;
}

.main .main-banner .img-wrap .link-to-service {
  display: block;
  width: 18.75rem;
  margin: 0 auto;
}

.main .major-voucher-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.875rem;
}

.main .major-voucher-link li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 3 - 1rem);
          flex: 0 0 calc(100% / 3 - 1rem);
  margin-bottom: 1.25rem;
}

.main .major-voucher-link li a {
  display: block;
  height: 10rem;
  padding: 2.5rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.22);
  background-repeat: no-repeat;
  background-position: right 1.25rem bottom 1.25rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .major-voucher-link li a:hover {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
  -webkit-box-shadow: 0.3125rem 1.25rem 0.9375rem 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0.3125rem 1.25rem 0.9375rem 0 rgba(0, 0, 0, 0.22);
  text-decoration: underline;
  color: #ea5a5c;
}

.main .major-voucher-link li a:hover .voucher-name {
  color: #ea5a5c;
}

.main .major-voucher-link li a .voucher-name {
  position: relative;
  line-height: 1.7;
  color: #666666;
  font-weight: 600;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .major-voucher-link li a .voucher-name:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -1.25rem;
  left: 0;
  width: 1.1875rem;
  height: 0.4375rem;
  background-image: url(../images/arrow_link.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.main .major-voucher-link li:nth-of-type(1) a {
  background-image: url(../images/main_voucher_img_01.png);
}

.main .major-voucher-link li:nth-of-type(2) a {
  background-image: url(../images/main_voucher_img_02.png);
}

.main .major-voucher-link li:nth-of-type(3) a {
  background-image: url(../images/main_voucher_img_03.png);
}

.main .video-info {
  padding-bottom: 1.875rem;
}

.main .video-info .description {
  padding-top: 1.875rem;
}

.main .video-info .description .title {
  color: #d60000;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.7;
}

.main .video-info .description .sub-text {
  color: #666666;
  font-size: 0.875rem;
  line-height: 1.7;
}

.main .video-info .video-wrap {
  height: 11.5625rem;
}

.main .search-box {
  margin-top: 2.5rem;
}

.main .search-box .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.main .search-box .filter button {
  background-color: #f4f4f4;
  color: #8e8e8e;
}

.main .search-box .filter button.whole {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  height: 100%;
  margin-right: 0.625rem;
}

.main .search-box .filter button.on {
  background-color: #ea5a5c;
  color: #ffffff;
}

.main .search-box .filter > ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .search-box .filter > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 2 - 0.3125rem);
          flex: 0 0 calc(100% / 2 - 0.3125rem);
  height: 3.125rem;
  margin-bottom: 0.625rem;
}

.main .search-box .filter > ul > li button {
  height: 100%;
  width: 100%;
}

.main .intro-link {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.main .intro-link > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .intro-link > ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 0.3125rem);
          flex: 0 0 calc(50% - 0.3125rem);
}

.main .intro-link > ul li:nth-last-of-type(n+3) {
  margin-bottom: 0.625rem;
}

.main .intro-link > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10rem;
  border: 0.125rem solid #666666;
  font-size: 1rem;
  font-weight: 600;
}

.main .intro-link > ul li a:hover {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.22);
  text-decoration: underline;
  background-color: #ea5a5c;
  color: #ffffff;
  border: 0;
}

.main.bg-gray {
  background-color: #e6e6e6;
}

.main .customer-center {
  text-align: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.main .customer-center .info > li {
  display: inline-block;
  border-right: 0.0625rem solid #333333;
  padding: 0 1.25rem;
}

.main .customer-center .info > li:nth-of-type(1) {
  text-align: right;
}

.main .customer-center .info > li:nth-last-of-type(1) {
  text-align: left;
  border-right: 0;
}

.select-your-member-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-your-member-type > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 9.375rem;
  color: #ffffff;
}

.select-your-member-type > a:nth-of-type(1) {
  background-color: #ba191b;
}

.select-your-member-type > a:nth-last-of-type(1) {
  background-color: #ee7e80;
}

.select-your-member-type > a .catagory {
  font-size: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.about-join {
  margin-top: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.about-join h3 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.about-join h4 {
  font-size: 0.875rem;
}

.agree-terms {
  margin-top: 2.5rem;
}

.agree-terms li {
  margin-bottom: 0.625rem;
}

.agree-terms .far {
  font-size: 1rem;
  color: #333333;
}

.agree-terms input[type="checkbox"] {
  font-size: 0;
  height: 0;
  width: 0;
}

.agree-terms input[type="checkbox"]:checked + label {
  opacity: 1;
}

.agree-terms label {
  display: block;
  opacity: 0.3;
  width: 100%;
  border: 0.0625rem solid #111111;
  text-align: left;
  padding: 1.25rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.terms-link {
  margin-top: 1.25rem;
}

.terms-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.terms-link ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 0.3125rem);
          flex: 0 0 calc(50% - 0.3125rem);
}

.terms-link ul > li button {
  width: 100%;
  border: 0.0625rem solid #111111;
  padding: 0.625rem 0.9375rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

.btn-normal-memeber-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 5.625rem;
  background-color: #695356;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 1rem;
}

.btn-normal-memeber-join [class*="icon-"] {
  vertical-align: middle;
}

.btn-normal-memeber-join .sub-text {
  font-size: 0.75rem;
  margin-top: 0.3125rem;
}

.sns-certify {
  margin-left: auto;
  margin-right: auto;
  max-width: 17.5rem;
  margin-top: 2.5rem;
  text-align: center;
}

.sns-certify h3 {
  font-size: 1rem;
}

.sns-certify > ul {
  margin-top: 1.25rem;
}

.sns-certify > ul li {
  text-align: center;
  margin-bottom: 0.625rem;
}

.sns-certify > ul li .sns-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.625rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  font-weight: 600;
}

.sns-certify > ul li .sns-login-btn.naver {
  background-color: #0acf5d;
}

.sns-certify > ul li .sns-login-btn.kakao {
  background-color: #ffcd00;
}

.sns-certify > ul li .sns-login-btn .title {
  margin-top: 0.3125rem;
}

.privacy-term {
  padding: 0.625rem;
}

.privacy-term p {
  line-height: 1.6;
}

.login-wrap .login-by-account .link-partition ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.login-wrap .login-by-account .link-partition ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.login-wrap .login-by-account .link-partition ul li input[type="radio"] {
  font-size: 0;
  width: 0;
  height: 0;
}

.login-wrap .login-by-account .link-partition ul li input[type="radio"]:checked + label {
  opacity: 1;
  color: #ffffff;
}

.login-wrap .login-by-account .link-partition ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5.3125rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #695356;
  color: #b4a1a3;
  font-weight: 600;
  font-size: 0.75rem;
  opacity: 0.3;
}

.login-wrap .login-by-account .link-partition ul li label .catagory {
  margin-top: 0.625rem;
}

.login-wrap .login-by-account .login-input-set {
  margin-left: auto;
  margin-right: auto;
  max-width: 17.5rem;
}

.login-wrap .login-by-account .login-input-set .login-btn {
  font-weight: 600;
}

.login-wrap .login-by-sns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.login-wrap .login-by-sns .header {
  text-align: center;
  padding: 1.25rem;
  vertical-align: middle;
}

.login-wrap .login-by-sns .header .icon-share {
  width: 1.5rem;
  height: 1.5rem;
  color: #888888;
  vertical-align: middle;
}

.login-wrap .login-by-sns > ul {
  padding: 2.5rem;
}

.login-wrap .login-by-sns > ul li {
  margin-bottom: 2.5rem;
}

.login-wrap .login-by-sns > ul li .sns-login-btn {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 7.5rem;
  color: #333333;
}

.login-wrap .login-by-sns > ul li .sns-login-btn > span {
  margin-top: 0.625rem;
  font-weight: 600;
}

.login-wrap .login-by-sns > ul li .sns-login-btn.naver {
  background-color: #0acf5d;
}

.login-wrap .login-by-sns > ul li .sns-login-btn.kakao {
  background-color: #ffcd00;
}

.login-wrap .find-id-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 17.5rem;
}

.login-wrap .find-id-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-wrap .find-id-wrap ul li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.login-wrap .find-id-wrap ul li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  height: 1.25rem;
  width: 0.0625rem;
  border-right: 0.0625rem solid #999999;
}

.login-wrap .find-id-wrap ul li:nth-last-of-type(1):after {
  border-right: 0;
}

.login-wrap .find-result {
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 0.0625rem solid #dddddd;
  color: #ea5a5c;
  font-weight: 600;
}

.login-wrap .sns-login {
  margin-left: auto;
  margin-right: auto;
  max-width: 17.5rem;
  margin-top: 2.5rem;
  text-align: center;
}

.login-wrap .sns-login h3 {
  font-size: 1rem;
}

.login-wrap .sns-login h3 i {
  vertical-align: middle;
  margin-right: 0.625rem;
}

.login-wrap .sns-login > ul {
  margin-top: 1.25rem;
}

.login-wrap .sns-login > ul li {
  text-align: center;
  margin-bottom: 0.625rem;
}

.login-wrap .sns-login > ul li .sns-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.625rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  font-weight: 600;
}

.login-wrap .sns-login > ul li .sns-login-btn.naver {
  background-color: #0acf5d;
}

.login-wrap .sns-login > ul li .sns-login-btn.kakao {
  background-color: #ffcd00;
}

.login-wrap .sns-login > ul li .sns-login-btn .title {
  margin-top: 0.3125rem;
}

.introduce .default-text {
  color: #666666;
  font-size: 0.875rem;
  line-height: 2.3;
}

.introduce .h3-text {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: #333333;
}

.find-center h3 {
  text-align: center;
}

.find-center .map-api {
  width: 100%;
  height: 15rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: gray;
}

.find-center .center-info-table {
  margin-top: 3.75rem;
}

.find-center .center-info-table > ul > li {
  margin-bottom: 3.75rem;
}

.find-center .center-info-table .table-topper {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  padding-bottom: 0.9375rem;
  border-bottom: 0.125rem solid #111111;
}

.find-center .center-info-table .table-topper .prefix, .find-center .center-info-table .table-topper .center, .find-center .center-info-table .table-topper .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-center .center-info-table .table-topper .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find-center .center-info-table .table-topper .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.find-center .center-info-table .table-topper .center-name {
  font-weight: 600;
}

.find-center .center-info-table .table-body ul li {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  color: #666666;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.find-center .center-info-table .table-body ul li .prefix, .find-center .center-info-table .table-body ul li .center, .find-center .center-info-table .table-body ul li .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-center .center-info-table .table-body ul li .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find-center .center-info-table .table-body ul li .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.find-center .center-info-table .table-body ul li .vouchers {
  width: auto;
  margin: 0 auto;
  text-align: left;
}

.find-center .center-info-table .table-body ul li .vouchers .tag {
  margin-right: 0.1875rem;
  margin-left: 0.1875rem;
  margin-bottom: 0.1875rem;
  margin-top: 0.1875rem;
}

.find-center .center-info-table .table-body ul li:nth-last-of-type(1) {
  border-bottom: 0;
}

.find-center .center-info-table .table-body ul li .link {
  color: #036fdc;
  text-decoration: underline;
}

.find-center .center-info-table .table-body ul li .description {
  line-height: 1.8;
  font-size: 0.875rem;
  color: #666666;
}

.find-center .center-info-table .btn i {
  font-size: 1rem;
  color: #ea5a5c;
}

.customer-satisfaction .notice-list {
  border-top: 0.125rem solid #695356;
}

.customer-satisfaction .notice-list > ul li {
  border-bottom: 0.0625rem solid #dddddd;
}

.customer-satisfaction .notice-list > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 0.875rem;
}

.customer-satisfaction .notice-list > ul li a .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.customer-satisfaction .notice-list > ul li a .date {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
  font-size: 0.75rem;
  color: #666666;
}

.customer-satisfaction .notice-detail {
  border-top: 0.125rem solid #695356;
  border-bottom: 0.0625rem solid #e8e8e8;
}

.customer-satisfaction .notice-detail .notice-header {
  color: #333333;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.0625rem solid #dddddd;
}

.customer-satisfaction .notice-detail .notice-header .title {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.customer-satisfaction .notice-detail .notice-header .info {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-top: 0.0625rem solid #dddddd;
  font-weight: 400;
  font-size: 0.875rem;
  color: #666666;
}

.customer-satisfaction .notice-detail .notice-header .info .prefix, .customer-satisfaction .notice-detail .notice-header .info .center, .customer-satisfaction .notice-detail .notice-header .info .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-satisfaction .notice-detail .notice-header .info .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-satisfaction .notice-detail .notice-header .info .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customer-satisfaction .notice-detail .notice-body {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  line-height: 1.6;
  color: #666666;
}

.customer-satisfaction .notice-detail .notice-footer {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  border-top: 0.0625rem solid #e8e8e8;
  min-height: 3.75rem;
}

.customer-satisfaction .notice-detail .notice-footer .prefix, .customer-satisfaction .notice-detail .notice-footer .center, .customer-satisfaction .notice-detail .notice-footer .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-satisfaction .notice-detail .notice-footer .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-satisfaction .notice-detail .notice-footer .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customer-satisfaction .notice-detail .notice-footer .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 6.25rem;
      flex-basis: 6.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 0.875rem;
  color: #666666;
  background-color: #e5e5e5;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 600;
}

.customer-satisfaction .notice-detail .notice-footer .filename {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.625rem;
  width: 100%;
}

.customer-satisfaction .faq-list {
  border-top: 0.125rem solid #695356;
}

.customer-satisfaction .faq-list .faq-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.0625rem solid #dddddd;
}

.customer-satisfaction .faq-list .faq-header .th {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.customer-satisfaction .faq-list .faq-header .th:nth-of-type(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.customer-satisfaction .faq-list .faq-header .th:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.customer-satisfaction .faq-list > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid #dddddd;
  line-height: 1.4;
}

.customer-satisfaction .faq-list > ul li a .catagory {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  color: #666666;
}

.customer-satisfaction .faq-list > ul li a .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.customer-satisfaction .faq-list > ul li .content {
  display: none;
  border-bottom: 0.0625rem solid #dddddd;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.8;
  background-color: #e5e5e5;
}

.customer-satisfaction .contact.gray-box {
  border-top: 0.125rem solid #695356;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #fafafa;
}

.customer-satisfaction .contact.gray-box label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.customer-satisfaction .contact.gray-box .textarea-wrap {
  height: 9.375rem;
}

.customer-satisfaction .freetalk-table {
  border-top: 0.125rem solid #695356;
}

.customer-satisfaction .freetalk-table > ul > li {
  border-bottom: 0.0625rem solid #dddddd;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.customer-satisfaction .freetalk-table > ul > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.customer-satisfaction .freetalk-table > ul > li a .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.4;
}

.customer-satisfaction .freetalk-table > ul > li a .location {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.125rem;
          flex: 0 0 3.125rem;
  color: #666666;
  font-size: 0.75rem;
}

.my-page .my-contents.border-list .table-body ul li {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.my-page .my-contents.border-list .table-body ul li .toggle {
  display: block;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #e8e8e8;
}

.my-page .my-contents.border-list .table-body ul li .toggle.on > div .title {
  color: #ea5a5c;
  text-decoration: underline;
}

.my-page .my-contents.border-list .table-body ul li .toggle > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-page .my-contents.border-list .table-body ul li .toggle > div:first-child {
  margin-bottom: 0.625rem;
}

.my-page .my-contents.border-list .table-body ul li .toggle > div span.catagory {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  font-size: 0.75rem;
  color: #888888;
}

.my-page .my-contents.border-list .table-body ul li .toggle > div span.title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.4;
}

.my-page .my-contents.border-list .table-body ul li .toggle > div span.date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  color: #888888;
}

.my-page .my-contents.border-list .table-body ul li .toggle > div span.state {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  color: #888888;
}

.my-page .my-contents.border-list .table-body ul li .toggle > div span.state.complete {
  color: #ea5a5c;
}

.my-page .my-contents.border-list .table-body ul li .content {
  display: none;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-bottom: 0.0625rem solid #e8e8e8;
  background-color: #fafafa;
  line-height: 1.4;
}

.my-page .my-contents.border-list .table-body ul li .content .date {
  display: block;
  margin-top: 0.625rem;
  font-size: 0.75rem;
}

.my-page .my-center-list > ul > li {
  margin-bottom: 2.5rem;
}

.my-page .my-center-list .table-topper {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  padding-bottom: 0.9375rem;
  border-bottom: 0.125rem solid #111111;
}

.my-page .my-center-list .table-topper .prefix, .my-page .my-center-list .table-topper .center, .my-page .my-center-list .table-topper .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-page .my-center-list .table-topper .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-page .my-center-list .table-topper .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.my-page .my-center-list .table-topper .center-name {
  font-weight: 600;
}

.my-page .my-center-list .table-body > ul > li {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  color: #666666;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid #dddddd;
}

.my-page .my-center-list .table-body > ul > li .prefix, .my-page .my-center-list .table-body > ul > li .center, .my-page .my-center-list .table-body > ul > li .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-page .my-center-list .table-body > ul > li .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-page .my-center-list .table-body > ul > li .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.my-page .my-center-list .table-body > ul > li .vouchers {
  width: auto;
  margin: 0 auto;
  text-align: left;
}

.my-page .my-center-list .table-body > ul > li .vouchers .tag {
  margin-right: 0.1875rem;
  margin-left: 0.1875rem;
  margin-bottom: 0.1875rem;
  margin-top: 0.1875rem;
}

.my-page .my-center-list .table-body > ul > li:nth-last-of-type(1) {
  border-bottom: 0;
}

.my-page .my-center-list .table-body > ul > li .link {
  color: #036fdc;
  text-decoration: underline;
}

.my-page .my-center-list .btn i {
  font-size: 1rem;
  color: #ea5a5c;
}

.my-child-info h3 {
  margin-top: 0;
}

.my-child-info .legend {
  font-size: 0.8125rem;
}

.my-child-info .schedule-list .item, .my-child-info .schedule-comment-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 6.25rem;
  border: 0.0625rem solid #dddddd;
  margin-bottom: 0.625rem;
}

.my-child-info .schedule-list .item .date-wrap, .my-child-info .schedule-comment-list .item .date-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  height: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
}

.my-child-info .schedule-list .item .date-wrap .date, .my-child-info .schedule-list .item .date-wrap .name, .my-child-info .schedule-comment-list .item .date-wrap .date, .my-child-info .schedule-comment-list .item .date-wrap .name {
  font-size: 0.875rem;
}

.my-child-info .schedule-list .item .date-wrap .day, .my-child-info .schedule-comment-list .item .date-wrap .day {
  font-size: 0.75rem;
  color: #333333;
  margin-top: 0.3125rem;
}

.my-child-info .schedule-list .item .schedule-text, .my-child-info .schedule-comment-list .item .schedule-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.625rem;
  border-left: 0.0625rem solid #dddddd;
  font-size: 0.75rem;
}

.my-child-info .schedule-list .item .schedule-text .text-area, .my-child-info .schedule-comment-list .item .schedule-text .text-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.my-child-info .schedule-list .item .schedule-text .modify-date, .my-child-info .schedule-comment-list .item .schedule-text .modify-date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  border-top: 0.0625rem solid #dddddd;
  font-size: 0.875rem;
  color: #888888;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-child-info .schedule-list .item .schedule-text .modify-date .prefix, .my-child-info .schedule-list .item .schedule-text .modify-date .center, .my-child-info .schedule-list .item .schedule-text .modify-date .suffix, .my-child-info .schedule-comment-list .item .schedule-text .modify-date .prefix, .my-child-info .schedule-comment-list .item .schedule-text .modify-date .center, .my-child-info .schedule-comment-list .item .schedule-text .modify-date .suffix {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-child-info .schedule-list .item .schedule-text .modify-date .center, .my-child-info .schedule-comment-list .item .schedule-text .modify-date .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-child-info .schedule-list .item .schedule-text .modify-date .suffix, .my-child-info .schedule-comment-list .item .schedule-text .modify-date .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.my-child-info .schedule-list .item .teacher-comment, .my-child-info .schedule-comment-list .item .teacher-comment {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
}

.my-child-info .schedule-list.block-type .header-date-wrap, .my-child-info .schedule-comment-list.block-type .header-date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.125rem;
  border: 0.0625rem solid #dddddd;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.my-child-info .schedule-list.block-type .header-date-wrap .day, .my-child-info .schedule-comment-list.block-type .header-date-wrap .day {
  margin-left: 0.625rem;
}

.my-child-info .schedule-list.block-type .item, .my-child-info .schedule-comment-list.block-type .item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-child-info .schedule-list.block-type .item .date-wrap, .my-child-info .schedule-comment-list.block-type .item .date-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3.125rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 0.0625rem solid #dddddd;
}

.my-child-info .schedule-list.block-type .item .date-wrap .date, .my-child-info .schedule-list.block-type .item .date-wrap .name, .my-child-info .schedule-comment-list.block-type .item .date-wrap .date, .my-child-info .schedule-comment-list.block-type .item .date-wrap .name {
  font-size: 1rem;
}

.my-child-info .schedule-list.block-type .item .date-wrap .day, .my-child-info .schedule-comment-list.block-type .item .date-wrap .day {
  margin-top: 0;
  margin-left: 0.625rem;
  font-size: 1rem;
}

.my-child-info .schedule-list.block-type .item .schedule-text, .my-child-info .schedule-comment-list.block-type .item .schedule-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 6.25rem;
          flex: 1 1 6.25rem;
  border-left: 0;
}

.my-child-info .schedule-list.block-type .item .schedule-text .modify-date, .my-child-info .schedule-comment-list.block-type .item .schedule-text .modify-date {
  font-size: 0.75rem;
}

.my-child-info .schedule-list.block-type .item .teacher-comment, .my-child-info .schedule-comment-list.block-type .item .teacher-comment {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
}

.my-child-info .daterangepicker-container {
  /*  Larger Screen Styling */
}

.my-child-info .daterangepicker-container .daterangepicker {
  border: 0.125rem solid #dddddd;
  border-radius: 0;
  position: relative;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  width: auto;
}

.my-child-info .daterangepicker-container .daterangepicker:before, .my-child-info .daterangepicker-container .daterangepicker:after {
  content: none;
}

.my-child-info .daterangepicker-container .daterangepicker .drp-calendar {
  max-width: 100%;
}

.my-child-info .daterangepicker-container .daterangepicker td.active, .my-child-info .daterangepicker-container .daterangepicker td.active:hover {
  background-color: #ea5a5c;
}

@media (min-width: 564px) {
  .my-child-info .daterangepicker-container .daterangepicker.single .ranges, .my-child-info .daterangepicker-container .daterangepicker.single .drp-calendar {
    float: none;
  }
  .my-child-info .daterangepicker-container .daterangepicker .ranges, .my-child-info .daterangepicker-container .daterangepicker .drp-calendar {
    float: none;
  }
}

@media (min-width: 730px) {
  .my-child-info .daterangepicker-container .daterangepicker .ranges {
    float: none;
  }
  .my-child-info .daterangepicker-container .daterangepicker.rtl .ranges {
    float: none;
  }
}

.my-child-info .teacher-list {
  padding-bottom: 8.5625rem;
}

.my-child-info .teacher-list > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 0.9375rem;
  margin-bottom: 0.625rem;
  background-color: #ffffff;
  border: 0.0625rem solid #dddddd;
}

.my-child-info .teacher-list > ul li span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.my-child-info .teacher-list > ul li .label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.5rem;
          flex: 0 0 7.5rem;
  font-size: 0.8125rem;
  font-weight: 600;
}

.my-child-info .teacher-list > ul li .input-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/*# sourceMappingURL=style_m.css.map */